workflows/anitguo-main.json
{
    "nodes": [
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "f1",
                            "leftValue": "={{ $json.shipping_status_code }}",
                            "rightValue": "0000",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        },
                        {
                            "id": "f2",
                            "leftValue": "={{ $json.shipping_status_code }}",
                            "rightValue": "0030",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        },
                        {
                            "id": "f3",
                            "leftValue": "={{ $json.shipping_status_code }}",
                            "rightValue": "0600",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        },
                        {
                            "id": "f4",
                            "leftValue": "={{ $json.shipping_status_code }}",
                            "rightValue": "0900",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        },
                        {
                            "id": "155698cc-db2b-45b9-b030-a77419f72e84",
                            "leftValue": "={{ $json.shipping_status_code }}",
                            "rightValue": "1000",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        },
                        {
                            "id": "f5",
                            "leftValue": "={{ $json.shipping_status_code }}",
                            "rightValue": "1500",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        },
                        {
                            "id": "f6",
                            "leftValue": "={{ $json.shipping_status_code }}",
                            "rightValue": "2310",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        },
                        {
                            "id": "f7",
                            "leftValue": "={{ $json.shipping_status_code }}",
                            "rightValue": "2500",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        },
                        {
                            "id": "f8",
                            "leftValue": "={{ $json.shipping_status_code }}",
                            "rightValue": "2900",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        },
                        {
                            "id": "12609ba0-d2e7-4d0f-b5d7-91a988ee72df",
                            "leftValue": "={{ $json.incident_type_code }}",
                            "rightValue": "INCT",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            }
                        }
                    ],
                    "combinator": "or"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2.3,
            "position": [
                -7248,
                1472
            ],
            "id": "06e990bf-a8d4-48ee-984c-000e20fefab4",
            "name": "4. Filtrar Estados Activos1"
        },
        {
            "parameters": {
                "numberInputs": 4
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                -7472,
                1440
            ],
            "id": "797bb171-28eb-4889-bd31-6bae5c9ae9bd",
            "name": "Merge2"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.cttexpress.com/integrations/oauth2/token",
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "client_id",
                            "value": "3eg1spueen47l2jkcm0dt56olk"
                        },
                        {
                            "name": "client_secret",
                            "value": "dmnoi2am8sdndpc1p905c2s5van5p110fik945t5q6pd5fkledk"
                        },
                        {
                            "name": "grant_type",
                            "value": "client_credentials"
                        },
                        {
                            "name": "scope",
                            "value": "urn:com:ctt-express:integration-clients:scopes:common/ALL"
                        }
                    ]
                },
                "options": {}
            },
            "id": "16337af9-52f2-41e9-9c47-d60347ca22fa",
            "name": "1. Obtener Token SERVICE CORP WORLD1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -8144,
                2144
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "data",
                "options": {}
            },
            "id": "df13aa9e-51c8-41b0-b556-54320c73582b",
            "name": "6. Separar Resto5",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3,
            "position": [
                -7920,
                1328
            ],
            "alwaysOutputData": true,
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.cttexpress.com/integrations/oauth2/token",
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "client_id",
                            "value": "76m6rjgitmn2rdnpvenkngtf2"
                        },
                        {
                            "name": "client_secret",
                            "value": "145nub573diu45cleh7h3at6gkb6f91shoh9lv38q1djoi245loj"
                        },
                        {
                            "name": "grant_type",
                            "value": "client_credentials"
                        },
                        {
                            "name": "scope",
                            "value": "urn:com:ctt-express:integration-clients:scopes:common/ALL"
                        }
                    ]
                },
                "options": {}
            },
            "id": "a9c85a17-27ba-4a0a-b46c-7bda05dad660",
            "name": "1. Obtener Token KULTUDENDA1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -8144,
                2800
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.cttexpress.com/integrations/oauth2/token",
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "client_id",
                            "value": "21fmaj0ohg018vodhuf7cgdbqn"
                        },
                        {
                            "name": "client_secret",
                            "value": "6vrimoi7bftui40e63o3i2jhd9lqc6bcfuag2af6n35oov38oa1"
                        },
                        {
                            "name": "grant_type",
                            "value": "client_credentials"
                        },
                        {
                            "name": "scope",
                            "value": "urn:com:ctt-express:integration-clients:scopes:common/ALL"
                        }
                    ]
                },
                "options": {}
            },
            "id": "1c657425-af0a-45c8-8afc-20785a2d35a8",
            "name": "1. Obtener Token SNAPPY1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -8144,
                3280
            ]
        },
        {
            "parameters": {
                "jsCode": "return [\n  { json: { center_code: \"4735200001\", shop_name: \"SNAPPYS\" } },\n  { json: { center_code: \"4735200002\", shop_name: \"SNAPPYBLUEIMPER AMZ\" } },\n  { json: { center_code: \"4735200003\", shop_name: \"LEROY MERLIN\" } },\n  { json: { center_code: \"4735200004\", shop_name: \"AMARTO SL\" } },\n  { json: { center_code: \"4735200005\", shop_name: \"AMARTO AMZ\" } }\n];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -7920,
                3280
            ],
            "id": "b013babe-63ed-4d1f-ab82-a496a5f8f33a",
            "name": "2. Code Tiendas1"
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "d64da3d7-bcc7-4040-ba8c-242d27f860a4",
            "name": "3. Loop Tiendas1",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -7696,
                3280
            ]
        },
        {
            "parameters": {
                "url": "https://api.cttexpress.com/integrations/trf/web-tracking/v1.0/shippings",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "mapping_table_code",
                            "value": "APITRACK"
                        },
                        {
                            "name": "client_center_code",
                            "value": "={{ $json.center_code }}"
                        },
                        {
                            "name": "shipping_date",
                            "value": "={{ $now.minus({days: $('Edit Fields').item.json.daysRange}).toFormat('yyyy-MM-dd') }}[range]{{ $now.toFormat('yyyy-MM-dd') }}"
                        },
                        {
                            "name": "page_limit",
                            "value": "={{ $('Edit Fields').item.json.pageLimit }}"
                        },
                        {
                            "name": "page_offsets",
                            "value": "1"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('1. Obtener Token SNAPPY1').item.json.access_token }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "dd5bb2e2-3772-47b0-b26c-8c895c9ca223",
            "name": "4. Leer Página ",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -7472,
                3200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "cond-1",
                            "leftValue": "={{ $json.pagination.page_offsets.current }}",
                            "rightValue": "={{ $json.pagination.page_offsets.last }}",
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                -7248,
                3200
            ],
            "id": "bbad9d79-a734-4ac3-9d51-9a6f533e65be",
            "name": "5. ¿Última Página?1"
        },
        {
            "parameters": {
                "fieldToSplitOut": "data",
                "options": {}
            },
            "id": "15a05dfe-6b90-4380-9548-fc6ba8250df9",
            "name": "6. Separar Página ",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3,
            "position": [
                -6576,
                3056
            ],
            "alwaysOutputData": true,
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "const item = $input.first().json;\nconst lastPage = item.pagination.page_offsets.last;\nconst centerCode = item.data[0]?.client_center_code || '';\n\nconst pages = [];\nfor (let i = 2; i <= lastPage; i++) {\n  pages.push({ json: { page: i, center_code: centerCode } });\n}\nreturn pages;"
            },
            "id": "cd06cd5f-782c-4649-a628-ce93a2cf902b",
            "name": "7. Generar Páginas Extra1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -7024,
                3248
            ]
        },
        {
            "parameters": {
                "url": "https://api.cttexpress.com/integrations/trf/web-tracking/v1.0/shippings",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "mapping_table_code",
                            "value": "APITRACK"
                        },
                        {
                            "name": "client_center_code",
                            "value": "={{ $json.center_code }}"
                        },
                        {
                            "name": "shipping_date",
                            "value": "={{ $now.minus({days: $('Edit Fields').item.json.daysRange}).toFormat('yyyy-MM-dd') }}[range]{{ $now.toFormat('yyyy-MM-dd') }}"
                        },
                        {
                            "name": "page_limit",
                            "value": "={{ $('Edit Fields').item.json.pageLimit }}"
                        },
                        {
                            "name": "page_offsets",
                            "value": "={{ $json.page }}"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('1. Obtener Token SNAPPY1').item.json.access_token }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "94aed5be-84f1-4544-9a98-543e02a1707f",
            "name": "8. Leer Resto Páginas1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -6800,
                3248
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "data",
                "options": {}
            },
            "id": "167599f0-b0e9-416e-9fcf-b4a6dd4361eb",
            "name": "9. Separar Resto1",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3,
            "position": [
                -6576,
                3248
            ]
        },
        {
            "parameters": {},
            "id": "ca7f40fc-c7e5-46b1-ac37-56548b87ae15",
            "name": "10. Merge Pedidos1",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                -6352,
                3200
            ]
        },
        {
            "parameters": {},
            "id": "28838d87-b72c-4d8f-bcfa-8a7579ea75d4",
            "name": "11. Volver Loop1",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                -6128,
                3344
            ]
        },
        {
            "parameters": {
                "jsCode": "return [\n  { json: { center_code: \"4541600001\", shop_name: \"KULTURDENDA 1\" } },\n  { json: { center_code: \"4541600002\", shop_name: \"KULTURDENDA 2\" } }\n];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -7920,
                2800
            ],
            "id": "a2deed63-d8e1-4ad9-b41c-0c9a63d3be15",
            "name": "2. Code Tiendas"
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "c602f07a-f0ae-4b84-94b5-099e628009f2",
            "name": "3. Loop Tiendas",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -7696,
                2800
            ]
        },
        {
            "parameters": {
                "url": "https://api.cttexpress.com/integrations/trf/web-tracking/v1.0/shippings",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "mapping_table_code",
                            "value": "APITRACK"
                        },
                        {
                            "name": "client_center_code",
                            "value": "={{ $json.center_code }}"
                        },
                        {
                            "name": "shipping_date",
                            "value": "={{ $now.minus({days: $('Edit Fields').item.json.daysRange}).toFormat('yyyy-MM-dd') }}[range]{{ $now.toFormat('yyyy-MM-dd') }}"
                        },
                        {
                            "name": "page_limit",
                            "value": "={{ $('Edit Fields').item.json.pageLimit }}"
                        },
                        {
                            "name": "page_offsets",
                            "value": "1"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('1. Obtener Token KULTUDENDA1').item.json.access_token }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "f3685ad5-f8ef-4030-b76c-b8c8f1247639",
            "name": "4. Leer Página 1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -7472,
                2720
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "cond-1",
                            "leftValue": "={{ $json.pagination.page_offsets.current }}",
                            "rightValue": "={{ $json.pagination.page_offsets.last }}",
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                -7248,
                2720
            ],
            "id": "2294545d-fad0-4599-a846-ab3de18cc202",
            "name": "5. ¿Última Página?"
        },
        {
            "parameters": {
                "fieldToSplitOut": "data",
                "options": {}
            },
            "id": "d74d3cbb-5eff-4155-80d5-11501d67c72e",
            "name": "6. Separar Página 1",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3,
            "position": [
                -6576,
                2560
            ],
            "alwaysOutputData": true,
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "const item = $input.first().json;\nconst lastPage = item.pagination.page_offsets.last;\nconst centerCode = item.data[0]?.client_center_code || '';\n\nconst pages = [];\nfor (let i = 2; i <= lastPage; i++) {\n  pages.push({ json: { page: i, center_code: centerCode } });\n}\nreturn pages;"
            },
            "id": "4d441948-3328-4817-a878-5a0113c99f34",
            "name": "7. Generar Páginas Extra",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -7024,
                2752
            ]
        },
        {
            "parameters": {
                "url": "https://api.cttexpress.com/integrations/trf/web-tracking/v1.0/shippings",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "mapping_table_code",
                            "value": "APITRACK"
                        },
                        {
                            "name": "client_center_code",
                            "value": "={{ $json.center_code }}"
                        },
                        {
                            "name": "shipping_date",
                            "value": "={{ $now.minus({days: $('Edit Fields').item.json.daysRange}).toFormat('yyyy-MM-dd') }}[range]{{ $now.toFormat('yyyy-MM-dd') }}"
                        },
                        {
                            "name": "page_limit",
                            "value": "={{ $('Edit Fields').item.json.pageLimit }}"
                        },
                        {
                            "name": "page_offsets",
                            "value": "={{ $json.page }}"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('1. Obtener Token KULTUDENDA1').item.json.access_token }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "e0f5ee5d-cb3b-4270-bc1d-3528cf34cbde",
            "name": "8. Leer Resto Páginas",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -6800,
                2752
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "data",
                "options": {}
            },
            "id": "e6454bc1-6a11-4200-b932-73e7dd4dd9f5",
            "name": "9. Separar Resto",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3,
            "position": [
                -6576,
                2752
            ]
        },
        {
            "parameters": {},
            "id": "50b809b0-e202-42e5-a568-74624b4db02f",
            "name": "10. Merge Pedidos",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                -6352,
                2720
            ]
        },
        {
            "parameters": {},
            "id": "729f8f51-c6e8-4f41-a5bf-bb55028170fb",
            "name": "11. Volver Loop",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                -6128,
                2864
            ]
        },
        {
            "parameters": {
                "jsCode": "return [\n  { json: { center_code: \"4768500003\", shop_name: \"SERVICE CORP WORLD 3\" } }\n];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -7920,
                2144
            ],
            "id": "47d2b9d8-d91b-4a52-8afd-a6f764a4a89e",
            "name": "2. Code Tiendas2"
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "2e47ba74-d519-47cb-a605-0d3357f53b8c",
            "name": "3. Loop Tiendas2",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -7696,
                2144
            ]
        },
        {
            "parameters": {
                "url": "https://api.cttexpress.com/integrations/trf/web-tracking/v1.0/shippings",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "mapping_table_code",
                            "value": "APITRACK"
                        },
                        {
                            "name": "client_center_code",
                            "value": "={{ $json.center_code }}"
                        },
                        {
                            "name": "shipping_date",
                            "value": "={{ $now.minus({days: $('Edit Fields').item.json.daysRange}).toFormat('yyyy-MM-dd') }}[range]{{ $now.toFormat('yyyy-MM-dd') }}"
                        },
                        {
                            "name": "page_limit",
                            "value": "={{ $('Edit Fields').item.json.pageLimit }}"
                        },
                        {
                            "name": "page_offsets",
                            "value": "1"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('1. Obtener Token SERVICE CORP WORLD1').item.json.access_token }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "ffdc5ba2-eef5-4617-b879-351fc2a66e62",
            "name": "4. Leer Página 2",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -7472,
                2240
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "cond-1",
                            "leftValue": "={{ $json.pagination.page_offsets.current }}",
                            "rightValue": "={{ $json.pagination.page_offsets.last }}",
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                -7248,
                2240
            ],
            "id": "909b79e3-37e0-455f-bbd9-815161a71139",
            "name": "5. ¿Última Página?2"
        },
        {
            "parameters": {
                "fieldToSplitOut": "data",
                "options": {}
            },
            "id": "298a2071-a6a1-414d-a3e9-2049610900cf",
            "name": "6. Separar Página 2",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3,
            "position": [
                -6576,
                2048
            ],
            "alwaysOutputData": true,
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "const item = $input.first().json;\nconst lastPage = item.pagination.page_offsets.last;\nconst centerCode = item.data[0]?.client_center_code || '';\n\nconst pages = [];\nfor (let i = 2; i <= lastPage; i++) {\n  pages.push({ json: { page: i, center_code: centerCode } });\n}\nreturn pages;"
            },
            "id": "939277f7-d2b0-48f8-8401-a37692c939a2",
            "name": "7. Generar Páginas Extra2",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -7024,
                2240
            ]
        },
        {
            "parameters": {
                "url": "https://api.cttexpress.com/integrations/trf/web-tracking/v1.0/shippings",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "mapping_table_code",
                            "value": "APITRACK"
                        },
                        {
                            "name": "client_center_code",
                            "value": "={{ $json.center_code }}"
                        },
                        {
                            "name": "shipping_date",
                            "value": "={{ $now.minus({days: $('Edit Fields').item.json.daysRange}).toFormat('yyyy-MM-dd') }}[range]{{ $now.toFormat('yyyy-MM-dd') }}"
                        },
                        {
                            "name": "page_limit",
                            "value": "={{ $('Edit Fields').item.json.pageLimit }}"
                        },
                        {
                            "name": "page_offsets",
                            "value": "={{ $json.page }}"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('1. Obtener Token SERVICE CORP WORLD1').item.json.access_token }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "06d310c8-e3b7-4ed3-8d24-81038b490db6",
            "name": "8. Leer Resto Páginas2",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -6800,
                2240
            ],
            "executeOnce": false
        },
        {
            "parameters": {
                "fieldToSplitOut": "data",
                "options": {}
            },
            "id": "b5c03a29-0bb7-4de1-a02c-619ac7ce0afb",
            "name": "9. Separar Resto2",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3,
            "position": [
                -6576,
                2240
            ]
        },
        {
            "parameters": {},
            "id": "610717d1-391d-4ec2-bf28-bc872846aea1",
            "name": "10. Merge Pedidos2",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                -6352,
                2240
            ]
        },
        {
            "parameters": {},
            "id": "d12433f7-edbd-4617-9975-f8f06186686a",
            "name": "11. Volver Loop2",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                -6128,
                2384
            ]
        },
        {
            "parameters": {},
            "id": "5bfd1e0b-5c7f-4d6c-b41a-59f52a779a0c",
            "name": "10. Merge Pedidos3",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                -7696,
                1424
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "7826a2e3-c6df-490e-b522-c9c22371c3bf",
                            "leftValue": "={{ $json.incident_type_code }}",
                            "rightValue": "INCT",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                -6800,
                976
            ],
            "id": "96d64975-bba5-464e-bba3-5305cd90fcd8",
            "name": "If"
        },
        {
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "value": "goyCIBMkfxNY9w5OIpUoG",
                    "mode": "list",
                    "cachedResultUrl": "/workflow/goyCIBMkfxNY9w5OIpUoG",
                    "cachedResultName": "CTT Emails - INCIDENCIAS (Unificado Completo)"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": true
                },
                "options": {}
            },
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.3,
            "position": [
                -6080,
                784
            ],
            "id": "78d7789c-c88b-48ac-b696-d2e6ea5121aa",
            "name": "INCIDENCIAS"
        },
        {
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "value": "lK3HYkP0p_vS6OowgxyGC",
                    "mode": "list",
                    "cachedResultUrl": "/workflow/lK3HYkP0p_vS6OowgxyGC",
                    "cachedResultName": "CTT Emails - ESTADOS (Unificado)"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": true
                },
                "options": {}
            },
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.3,
            "position": [
                -6096,
                1008
            ],
            "id": "36dc13b8-0765-4819-b041-6190fbb9a168",
            "name": "ESTADOS"
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "7e5a72fc-f773-4c32-9fe3-c66389316eeb",
            "name": "Loop: Processar 1 a 1",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -7024,
                1472
            ]
        },
        {
            "parameters": {
                "url": "=https://api.cttexpress.com/integrations-info/trf/item-history-api/history/{{ $('Switch').item.json.shipping_code }}",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "view",
                            "value": "APITRACK"
                        },
                        {
                            "name": "showItems",
                            "value": "false"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $json.access_token }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "b006b95e-a1ed-4401-8df7-59904a1aaba8",
            "name": "Obtenir Historial Detallat",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -6352,
                1648
            ]
        },
        {
            "parameters": {
                "jsCode": "const item = $('Switch').item.json;\nconst history = $json;\nreturn {\n  ...item,\n  status_history: history\n};"
            },
            "id": "44e3f6b9-9e40-4c8c-a519-03c990b0089a",
            "name": "Merge History1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -6128,
                1840
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.cttexpress.com/integrations/oauth2/token",
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "client_id",
                            "value": "3eg1spueen47l2jkcm0dt56olk"
                        },
                        {
                            "name": "client_secret",
                            "value": "dmnoi2am8sdndpc1p905c2s5van5p110fik945t5q6pd5fkledk"
                        },
                        {
                            "name": "grant_type",
                            "value": "client_credentials"
                        },
                        {
                            "name": "scope",
                            "value": "urn:com:ctt-express:integration-clients:scopes:common/ALL"
                        }
                    ]
                },
                "options": {}
            },
            "id": "9a9b16d5-c936-4da7-a2cf-37f5b4a6ad1c",
            "name": "1. Obtener Token SERVICE CORP WORLD",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -6576,
                1376
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.cttexpress.com/integrations/oauth2/token",
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "client_id",
                            "value": "6lmgulg22aneeht6tj0oqgd5nt"
                        },
                        {
                            "name": "client_secret",
                            "value": "g84jnhse644ttjct97s1hkvth1ekbh8pupjpoue9ubmhmis77ll"
                        },
                        {
                            "name": "grant_type",
                            "value": "client_credentials"
                        },
                        {
                            "name": "scope",
                            "value": "urn:com:ctt-express:integration-clients:scopes:common/ALL"
                        }
                    ]
                },
                "options": {}
            },
            "id": "6fc8dd7c-805c-422e-930e-0bc2089d6566",
            "name": "1. Obtener Token HAMINOS",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -6576,
                1184
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.cttexpress.com/integrations/oauth2/token",
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "client_id",
                            "value": "76m6rjgitmn2rdnpvenkngtf2"
                        },
                        {
                            "name": "client_secret",
                            "value": "145nub573diu45cleh7h3at6gkb6f91shoh9lv38q1djoi245loj"
                        },
                        {
                            "name": "grant_type",
                            "value": "client_credentials"
                        },
                        {
                            "name": "scope",
                            "value": "urn:com:ctt-express:integration-clients:scopes:common/ALL"
                        }
                    ]
                },
                "options": {}
            },
            "id": "f39b322e-2a3d-4f15-8a7b-7fc411d62239",
            "name": "1. Obtener Token KULTUDENDA",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -6576,
                1568
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.cttexpress.com/integrations/oauth2/token",
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "client_id",
                            "value": "21fmaj0ohg018vodhuf7cgdbqn"
                        },
                        {
                            "name": "client_secret",
                            "value": "6vrimoi7bftui40e63o3i2jhd9lqc6bcfuag2af6n35oov38oa1"
                        },
                        {
                            "name": "grant_type",
                            "value": "client_credentials"
                        },
                        {
                            "name": "scope",
                            "value": "urn:com:ctt-express:integration-clients:scopes:common/ALL"
                        }
                    ]
                },
                "options": {}
            },
            "id": "3a3a644f-5fca-43fc-b5eb-56edbc3a8a4a",
            "name": "1. Obtener Token SNAPPY",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -6576,
                1760
            ]
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.client_code }}",
                                        "rightValue": "48630",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "32ba18ab-3b22-4150-9209-be252cc27fbf"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "HAMINOS"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "bf12e63e-6242-435b-84f2-b6ec63e73101",
                                        "leftValue": "={{ $json.client_code }}",
                                        "rightValue": "=47685",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "SERVICE CORP"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "14a06515-42f8-4e7b-9248-f26c901951c7",
                                        "leftValue": "={{ $json.client_code }}",
                                        "rightValue": "45416",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "KULTUDENDA"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "e88cf8d2-85d6-4bdd-8c1c-3a5c9e2cc6d7",
                                        "leftValue": "={{ $json.client_code }}",
                                        "rightValue": "47352",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "SNAPPY"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                -6800,
                1536
            ],
            "id": "23342404-aa5a-4719-9c60-04a035ea585a",
            "name": "Switch"
        },
        {
            "parameters": {
                "amount": 2
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                -5920,
                1840
            ],
            "id": "890b7888-678c-411e-abb2-71a3049e709f",
            "name": "Wait",
            "webhookId": "80ef67b2-f245-4fa2-9c71-214e8ff11f13"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 17
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -9264,
                2384
            ],
            "id": "5b883551-f7e3-4bc3-a7da-b1ccd742f79c",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "fieldToSplitOut": "data",
                "options": {}
            },
            "id": "6c77a131-3b47-46e7-8d91-56b5047804b9",
            "name": "9. Separar Resto3",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3,
            "position": [
                -7920,
                1648
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "be16fbad-33b2-4ccd-8d9c-629fb2acd44d",
                            "name": "daysRange",
                            "value": "30",
                            "type": "string"
                        },
                        {
                            "id": "151a10f1-deb7-4f75-bad3-acaae563502e",
                            "name": "pageLimit",
                            "value": "20",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -9040,
                2384
            ],
            "id": "7ebd7225-e6f0-4905-8558-093806014eef",
            "name": "Edit Fields"
        },
        {
            "parameters": {
                "url": "https://api.cttexpress.com/integrations/trf/web-tracking/v1.0/shippings",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "mapping_table_code",
                            "value": "APITRACK"
                        },
                        {
                            "name": "client_center_code",
                            "value": "4863000001"
                        },
                        {
                            "name": "shipping_date",
                            "value": "={{ $now.minus({days: $('Edit Fields').item.json.daysRange}).toFormat('yyyy-MM-dd') }}[range]{{ $now.toFormat('yyyy-MM-dd') }}"
                        },
                        {
                            "name": "page_limit",
                            "value": "={{ $('Edit Fields').item.json.pageLimit }}"
                        },
                        {
                            "name": "page_offsets",
                            "value": "={{ $json.page }}"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('1. Obtener Token HAMINOS1').item.json.access_token }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "95b932a2-e545-4f70-816c-43ca0bfcf1a5",
            "name": "4. Leer Resto de Páginas4",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -8144,
                1648
            ]
        },
        {
            "parameters": {
                "jsCode": "const lastPage = $input.first().json.pagination.page_offsets.last;\nconst pages = [];\nfor (let i = 2; i <= lastPage; i++) {\n  pages.push({ json: { page: i } });\n}\nreturn pages;"
            },
            "id": "e8406607-09f4-4c9b-a448-68bd394489ff",
            "name": "3. Generar Lista de Páginas4",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -8368,
                1648
            ]
        },
        {
            "parameters": {
                "url": "https://api.cttexpress.com/integrations/trf/web-tracking/v1.0/shippings",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "mapping_table_code",
                            "value": "APITRACK"
                        },
                        {
                            "name": "client_center_code",
                            "value": "4863000001"
                        },
                        {
                            "name": "shipping_date",
                            "value": "={{ $now.minus({days: $('Edit Fields').item.json.daysRange}).toFormat('yyyy-MM-dd') }}[range]{{ $now.toFormat('yyyy-MM-dd') }}"
                        },
                        {
                            "name": "page_limit",
                            "value": "={{ $('Edit Fields').item.json.pageLimit }}"
                        },
                        {
                            "name": "page_offsets",
                            "value": "1"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $json.access_token }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "d928f959-7480-498d-83f0-4c39ce2fa147",
            "name": "2. Leer Página 4",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -8592,
                1424
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.cttexpress.com/integrations/oauth2/token",
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "client_id",
                            "value": "6lmgulg22aneeht6tj0oqgd5nt"
                        },
                        {
                            "name": "client_secret",
                            "value": "g84jnhse644ttjct97s1hkvth1ekbh8pupjpoue9ubmhmis77ll"
                        },
                        {
                            "name": "grant_type",
                            "value": "client_credentials"
                        },
                        {
                            "name": "scope",
                            "value": "urn:com:ctt-express:integration-clients:scopes:common/ALL"
                        }
                    ]
                },
                "options": {}
            },
            "id": "e3f74623-3373-4d96-8164-d93032d3e25c",
            "name": "1. Obtener Token HAMINOS1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -8816,
                1424
            ]
        }
    ],
    "connections": {
        "4. Filtrar Estados Activos1": {
            "main": [
                [
                    {
                        "node": "Loop: Processar 1 a 1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge2": {
            "main": [
                [
                    {
                        "node": "4. Filtrar Estados Activos1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1. Obtener Token SERVICE CORP WORLD1": {
            "main": [
                [
                    {
                        "node": "2. Code Tiendas2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6. Separar Resto5": {
            "main": [
                [
                    {
                        "node": "10. Merge Pedidos3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1. Obtener Token KULTUDENDA1": {
            "main": [
                [
                    {
                        "node": "2. Code Tiendas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1. Obtener Token SNAPPY1": {
            "main": [
                [
                    {
                        "node": "2. Code Tiendas1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Code Tiendas1": {
            "main": [
                [
                    {
                        "node": "3. Loop Tiendas1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "3. Loop Tiendas1": {
            "main": [
                [
                    {
                        "node": "Merge2",
                        "type": "main",
                        "index": 3
                    }
                ],
                [
                    {
                        "node": "4. Leer Página ",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "4. Leer Página ": {
            "main": [
                [
                    {
                        "node": "5. ¿Última Página?1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "5. ¿Última Página?1": {
            "main": [
                [
                    {
                        "node": "6. Separar Página ",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "6. Separar Página ",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "7. Generar Páginas Extra1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6. Separar Página ": {
            "main": [
                [
                    {
                        "node": "10. Merge Pedidos1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "7. Generar Páginas Extra1": {
            "main": [
                [
                    {
                        "node": "8. Leer Resto Páginas1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8. Leer Resto Páginas1": {
            "main": [
                [
                    {
                        "node": "9. Separar Resto1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "9. Separar Resto1": {
            "main": [
                [
                    {
                        "node": "10. Merge Pedidos1",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "10. Merge Pedidos1": {
            "main": [
                [
                    {
                        "node": "11. Volver Loop1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "11. Volver Loop1": {
            "main": [
                [
                    {
                        "node": "3. Loop Tiendas1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Code Tiendas": {
            "main": [
                [
                    {
                        "node": "3. Loop Tiendas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "3. Loop Tiendas": {
            "main": [
                [
                    {
                        "node": "Merge2",
                        "type": "main",
                        "index": 2
                    }
                ],
                [
                    {
                        "node": "4. Leer Página 1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "4. Leer Página 1": {
            "main": [
                [
                    {
                        "node": "5. ¿Última Página?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "5. ¿Última Página?": {
            "main": [
                [
                    {
                        "node": "6. Separar Página 1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "6. Separar Página 1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "7. Generar Páginas Extra",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6. Separar Página 1": {
            "main": [
                [
                    {
                        "node": "10. Merge Pedidos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "7. Generar Páginas Extra": {
            "main": [
                [
                    {
                        "node": "8. Leer Resto Páginas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8. Leer Resto Páginas": {
            "main": [
                [
                    {
                        "node": "9. Separar Resto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "9. Separar Resto": {
            "main": [
                [
                    {
                        "node": "10. Merge Pedidos",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "10. Merge Pedidos": {
            "main": [
                [
                    {
                        "node": "11. Volver Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "11. Volver Loop": {
            "main": [
                [
                    {
                        "node": "3. Loop Tiendas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Code Tiendas2": {
            "main": [
                [
                    {
                        "node": "3. Loop Tiendas2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "3. Loop Tiendas2": {
            "main": [
                [
                    {
                        "node": "Merge2",
                        "type": "main",
                        "index": 1
                    }
                ],
                [
                    {
                        "node": "4. Leer Página 2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "4. Leer Página 2": {
            "main": [
                [
                    {
                        "node": "5. ¿Última Página?2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "5. ¿Última Página?2": {
            "main": [
                [
                    {
                        "node": "6. Separar Página 2",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "7. Generar Páginas Extra2",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "6. Separar Página 2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6. Separar Página 2": {
            "main": [
                [
                    {
                        "node": "10. Merge Pedidos2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "7. Generar Páginas Extra2": {
            "main": [
                [
                    {
                        "node": "8. Leer Resto Páginas2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "8. Leer Resto Páginas2": {
            "main": [
                [
                    {
                        "node": "9. Separar Resto2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "9. Separar Resto2": {
            "main": [
                [
                    {
                        "node": "10. Merge Pedidos2",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "10. Merge Pedidos2": {
            "main": [
                [
                    {
                        "node": "11. Volver Loop2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "11. Volver Loop2": {
            "main": [
                [
                    {
                        "node": "3. Loop Tiendas2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "10. Merge Pedidos3": {
            "main": [
                [
                    {
                        "node": "Merge2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If": {
            "main": [
                [
                    {
                        "node": "INCIDENCIAS",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "ESTADOS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop: Processar 1 a 1": {
            "main": [
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Obtenir Historial Detallat": {
            "main": [
                [
                    {
                        "node": "Merge History1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge History1": {
            "main": [
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1. Obtener Token SERVICE CORP WORLD": {
            "main": [
                [
                    {
                        "node": "Obtenir Historial Detallat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1. Obtener Token HAMINOS": {
            "main": [
                [
                    {
                        "node": "Obtenir Historial Detallat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1. Obtener Token KULTUDENDA": {
            "main": [
                [
                    {
                        "node": "Obtenir Historial Detallat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1. Obtener Token SNAPPY": {
            "main": [
                [
                    {
                        "node": "Obtenir Historial Detallat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch": {
            "main": [
                [
                    {
                        "node": "1. Obtener Token HAMINOS",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "1. Obtener Token SERVICE CORP WORLD",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "1. Obtener Token KULTUDENDA",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "1. Obtener Token SNAPPY",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait": {
            "main": [
                [
                    {
                        "node": "Loop: Processar 1 a 1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Edit Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "9. Separar Resto3": {
            "main": [
                [
                    {
                        "node": "10. Merge Pedidos3",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Edit Fields": {
            "main": [
                [
                    {
                        "node": "1. Obtener Token KULTUDENDA1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "1. Obtener Token SERVICE CORP WORLD1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "1. Obtener Token SNAPPY1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "1. Obtener Token HAMINOS1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "4. Leer Resto de Páginas4": {
            "main": [
                [
                    {
                        "node": "9. Separar Resto3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "3. Generar Lista de Páginas4": {
            "main": [
                [
                    {
                        "node": "4. Leer Resto de Páginas4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Leer Página 4": {
            "main": [
                [
                    {
                        "node": "6. Separar Resto5",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "3. Generar Lista de Páginas4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1. Obtener Token HAMINOS1": {
            "main": [
                [
                    {
                        "node": "2. Leer Página 4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "1c2aee663286167ca5973273ceb0c60aa2fcbae95195db0810f62f8c4797daff"
    }
}