workflows/follow-inc.json
{
    "nodes": [
        {
            "parameters": {
                "resource": "draft",
                "subject": "=SEGUIMIENTO INTERNO: Incidencia #{{ $('Loop Over Items').item.json.numero_incidencias }} - {{ $('Loop Over Items').item.json.shipping_code }}",
                "message": "=Hola,\n\nSEGUIMIENTO INTERNO - Este pedido lleva {{ $('Loop Over Items').item.json.numero_incidencias }} notificaciones de incidencia.\n\nPEDIDO: {{ $json.data[0].client_references }}\nCÓDIGO SEGUIMIENTO: {{ $('Loop Over Items').item.json.shipping_code }}\nINCIDENCIA ACTUAL: {{ $json.data[0].incident_type_code }}\nFECHA 1ª DETECCIÓN: {{ DateTime.fromISO($('Loop Over Items').item.json.incident_date).toFormat('dd-MM-yyyy') }}\n\nHistorial de incidencias guardado en la tabla de seguimiento.",
                "options": {}
            },
            "id": "a75e9da0-1aad-4f43-83de-0c24531ca1a0",
            "name": "Email INTERNO (KULTUDENDA)",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                -14160,
                4800
            ],
            "webhookId": "a69200ab-d21c-4dd5-ae70-93dda3fd49c8",
            "credentials": {
                "gmailOAuth2": {
                    "id": "I8iOQCCkF5dchDft",
                    "name": "KULTURDENDA"
                }
            }
        },
        {
            "parameters": {
                "resource": "draft",
                "subject": "=SEGUIMIENTO INTERNO: Incidencia #{{ $('Loop Over Items').item.json.numero_incidencias }} - {{ $('Loop Over Items').item.json.shipping_code }}",
                "message": "=Hola,\n\nSEGUIMIENTO INTERNO - Este pedido lleva {{ $('Loop Over Items').item.json.numero_incidencias }} notificaciones de incidencia.\n\nPEDIDO: {{ $json.data[0].client_references }}\nCÓDIGO SEGUIMIENTO: {{ $('Loop Over Items').item.json.shipping_code }}\nINCIDENCIA ACTUAL: {{ $json.data[0].incident_type_code }}\nFECHA 1ª DETECCIÓN: {{ DateTime.fromISO($('Loop Over Items').item.json.incident_date).toFormat('dd-MM-yyyy') }}\n\nHistorial de incidencias guardado en la tabla de seguimiento.",
                "options": {}
            },
            "id": "4e9cd36c-374a-432a-8978-e130bacdf2b4",
            "name": "Email INTERNO (MIESTERY)",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                -14160,
                4608
            ],
            "webhookId": "fc44441c-e12b-42df-9799-ddc68f7029d6",
            "credentials": {
                "gmailOAuth2": {
                    "id": "QJJKjkTiSoxnKucv",
                    "name": "MIESTERY / SERVICE CORP WORLD"
                }
            }
        },
        {
            "parameters": {
                "resource": "draft",
                "subject": "=SEGUIMIENTO INTERNO: Incidencia #{{ $('Loop Over Items').item.json.numero_incidencias }} - {{ $('Loop Over Items').item.json.shipping_code }}",
                "message": "=Hola,\n\nSEGUIMIENTO INTERNO - Este pedido lleva {{ $('Loop Over Items').item.json.numero_incidencias }} notificaciones de incidencia.\n\nPEDIDO: {{ $json.data[0].client_references }}\nCÓDIGO SEGUIMIENTO: {{ $('Loop Over Items').item.json.shipping_code }}\nINCIDENCIA ACTUAL: {{ $json.data[0].incident_type_code }}\nFECHA 1ª DETECCIÓN: {{ DateTime.fromISO($('Loop Over Items').item.json.incident_date).toFormat('dd-MM-yyyy') }}\n\nHistorial de incidencias guardado en la tabla de seguimiento.",
                "options": {}
            },
            "id": "00217e75-8b8d-4cbc-ade0-b989f12a27c5",
            "name": "Email INTERNO (HAMINOS)",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                -14160,
                4416
            ],
            "webhookId": "d3d84202-1f03-4021-ad97-2195575b5bff",
            "credentials": {
                "gmailOAuth2": {
                    "id": "xvnQhr5hfD4gc3Uk",
                    "name": "HAMINOS"
                }
            }
        },
        {
            "parameters": {
                "resource": "draft",
                "subject": "=SEGUIMIENTO INTERNO: Incidencia #{{ $('Loop Over Items').item.json.numero_incidencias }} - {{ $('Loop Over Items').item.json.shipping_code }}",
                "message": "=Hola,\n\nSEGUIMIENTO INTERNO - Este pedido lleva {{ $('Loop Over Items').item.json.numero_incidencias }} notificaciones de incidencia.\n\nPEDIDO: {{ $json.data[0].client_references }}\nCÓDIGO SEGUIMIENTO: {{ $('Loop Over Items').item.json.shipping_code }}\nINCIDENCIA ACTUAL: {{ $json.data[0].incident_type_code }}\nFECHA 1ª DETECCIÓN: {{ DateTime.fromISO($('Loop Over Items').item.json.incident_date).toFormat('dd-MM-yyyy') }}\n\nHistorial de incidencias guardado en la tabla de seguimiento.",
                "options": {}
            },
            "id": "36f2651f-52ed-462f-9d09-667893efef3e",
            "name": "Email INTERNO (SNAPPY)",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                -14160,
                4992
            ],
            "webhookId": "3dfb5253-3e7f-4418-9059-6db7a2a08eec",
            "credentials": {
                "gmailOAuth2": {
                    "id": "ATDngCzgo2CXlgvv",
                    "name": "SNAPPY"
                }
            }
        },
        {
            "parameters": {
                "resource": "draft",
                "subject": "=Incidencia {{ $json.data[0].incident_type_code }} - Envío {{ $('Loop Over Items').item.json.shipping_code }}",
                "message": "=Buen día.\n\nEste envío presenta la siguiente incidencia:\n\nCÓDIGO DE SEGUIMIENTO: {{ $('Loop Over Items').item.json.shipping_code }}\nPEDIDO: {{ $json.data[0].client_references }}\nINCIDENCIA: {{ $json.data[0].incident_type_code }}\nFECHA DETECCIÓN: {{ DateTime.fromISO($('Loop Over Items').item.json.incident_date).toFormat('dd-MM-yyyy') }}\n\nPor favor programar un nuevo reparto/recogida para el siguiente día hábil. Gracias.\n\nSaludos,",
                "options": {}
            },
            "id": "9a67d9d9-a515-451e-9f21-7f37c1501492",
            "name": "Email CTT (KULTUDENDA)",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                -14160,
                4032
            ],
            "webhookId": "60751898-f11a-4500-a092-91cdc1c97900",
            "credentials": {
                "gmailOAuth2": {
                    "id": "I8iOQCCkF5dchDft",
                    "name": "KULTURDENDA"
                }
            }
        },
        {
            "parameters": {
                "resource": "draft",
                "subject": "=Incidencia {{ $json.data[0].incident_type_code }} - Envío {{ $('Loop Over Items').item.json.shipping_code }}",
                "message": "=Buen día.\n\nEste envío presenta la siguiente incidencia:\n\nCÓDIGO DE SEGUIMIENTO: {{ $('Loop Over Items').item.json.shipping_code }}\nPEDIDO: {{ $json.data[0].client_references }}\nINCIDENCIA: {{ $json.data[0].incident_type_code }}\nFECHA DETECCIÓN: {{ DateTime.fromISO($('Loop Over Items').item.json.incident_date).toFormat('dd-MM-yyyy') }}\n\nPor favor programar un nuevo reparto/recogida para el siguiente día hábil. Gracias.\n\nSaludos,",
                "options": {}
            },
            "id": "f7e319b9-dff7-4f04-a961-729fd77a8cf5",
            "name": "Email CTT (MIESTERY)",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                -14160,
                3840
            ],
            "webhookId": "a7cc070c-0e35-47c0-95ab-44422397f383",
            "credentials": {
                "gmailOAuth2": {
                    "id": "QJJKjkTiSoxnKucv",
                    "name": "MIESTERY / SERVICE CORP WORLD"
                }
            }
        },
        {
            "parameters": {
                "resource": "draft",
                "subject": "=Incidencia {{ $json.data[0].incident_type_code }} - Envío {{ $('Loop Over Items').item.json.shipping_code }}",
                "message": "=Buen día.\n\nEste envío presenta la siguiente incidencia:\n\nCÓDIGO DE SEGUIMIENTO: {{ $('Loop Over Items').item.json.shipping_code }}\nPEDIDO: {{ $json.data[0].client_references }}\nINCIDENCIA: {{ $json.data[0].incident_type_code }}\nFECHA DETECCIÓN: {{ DateTime.fromISO($('Loop Over Items').item.json.incident_date).toFormat('dd-MM-yyyy') }}\n\nPor favor programar un nuevo reparto/recogida para el siguiente día hábil. Gracias.\n\nSaludos,",
                "options": {}
            },
            "id": "3abfe6ff-1d90-41ee-8dab-c344ed7935b9",
            "name": "Re-notificación [HAMINOS]",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                -14160,
                3648
            ],
            "webhookId": "186f2170-61a1-49f3-ae1d-5285967042d2",
            "retryOnFail": true,
            "maxRetries": 3,
            "retryDelay": 5000,
            "credentials": {
                "gmailOAuth2": {
                    "id": "xvnQhr5hfD4gc3Uk",
                    "name": "HAMINOS"
                }
            }
        },
        {
            "parameters": {
                "resource": "draft",
                "subject": "=Incidencia {{ $json.data[0].incident_type_code }} - Envío {{ $('Loop Over Items').item.json.shipping_code }}",
                "message": "=Buen día.\n\nEste envío presenta la siguiente incidencia:\n\nCÓDIGO DE SEGUIMIENTO: {{ $('Loop Over Items').item.json.shipping_code }}\nPEDIDO: {{ $json.data[0].client_references }}\nINCIDENCIA: {{ $json.data[0].incident_type_code }}\nFECHA DETECCIÓN: {{ DateTime.fromISO($('Loop Over Items').item.json.incident_date).toFormat('dd-MM-yyyy') }}\n\nPor favor programar un nuevo reparto/recogida para el siguiente día hábil. Gracias.\n\nSaludos,",
                "options": {}
            },
            "id": "818299e3-10bc-48a8-82c6-fe1dcf064048",
            "name": "Re-notificación [SNAPPY]",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                -14160,
                4224
            ],
            "webhookId": "58bf0b62-234c-4c39-af0e-9664c78bbb3e",
            "retryOnFail": true,
            "maxRetries": 3,
            "retryDelay": 5000,
            "credentials": {
                "gmailOAuth2": {
                    "id": "ATDngCzgo2CXlgvv",
                    "name": "SNAPPY"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk",
                    "mode": "list",
                    "cachedResultName": "CTT Tracking Log"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1123525887,
                    "mode": "list",
                    "cachedResultName": "Incidencias",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk/edit#gid=1123525887"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "NUMERO DE ENVIO": "={{ $('Loop Over Items').item.json['NUMERO DE ENVIO'] }}",
                        "NUMERO AVISOS": "={{ Number($('Loop Over Items').item.json['NUMERO AVISOS']) + 1 }}",
                        "FECHA PROCESADO": "={{ $now.toFormat('dd-MM-yyyy HH:mm:ss') }}",
                        "TIPO EMAIL": "={{ $prevNode.name }}",
                        "RESULTADO FOLLOWUP": "=Sigue en incidencia {{ $('Loop Over Items').item.json.INCIDENCIA }}, re-notificado (#{{ Number($('Loop Over Items').item.json['NUMERO AVISOS']) + 1 }})",
                        "DESTINATARIO": "={{ $('Loop Over Items').item.json.CENTRO ? ($('Loop Over Items').item.json.CENTRO.toString().match(/^(4541600001|4541600002)$/) ? 'cca.z2@cttexpress.com' : 'cca.z3@cttexpress.com') : 'cca.z3@cttexpress.com' }}",
                        "row_number": 0
                    },
                    "matchingColumns": [
                        "NUMERO DE ENVIO"
                    ],
                    "schema": [
                        {
                            "id": "FECHA PROCESADO",
                            "displayName": "FECHA PROCESADO",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "NUMERO DE ENVIO",
                            "displayName": "NUMERO DE ENVIO",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "NUMERO DE PEDIDO",
                            "displayName": "NUMERO DE PEDIDO",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "TIENDA",
                            "displayName": "TIENDA",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "CENTRO",
                            "displayName": "CENTRO",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "INCIDENCIA",
                            "displayName": "INCIDENCIA",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "FECHA INCIDENCIA",
                            "displayName": "FECHA INCIDENCIA",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "H EN INCIDENCIA",
                            "displayName": "H EN INCIDENCIA",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "EMAIL ENVIADO",
                            "displayName": "EMAIL ENVIADO",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "TIPO EMAIL",
                            "displayName": "TIPO EMAIL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "RAZON",
                            "displayName": "RAZON",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "DESTINATARIO",
                            "displayName": "DESTINATARIO",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "CREDENCIAL",
                            "displayName": "CREDENCIAL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "NUMERO AVISOS",
                            "displayName": "NUMERO AVISOS",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "SEGUIMIENTO",
                            "displayName": "SEGUIMIENTO",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "RESULTADO FOLLOWUP",
                            "displayName": "RESULTADO FOLLOWUP",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "727003ee-922e-455b-adce-0c2a6b891f90",
            "name": "Actualizar Contador",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                -13936,
                4304
            ],
            "retryOnFail": true,
            "maxRetries": 3,
            "retryDelay": 5000,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "vUMIiZSNk60SoDGg",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk",
                    "mode": "list",
                    "cachedResultName": "CTT Tracking Log"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1123525887,
                    "mode": "list",
                    "cachedResultName": "Incidencias",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk/edit#gid=1123525887"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "NUMERO DE ENVIO": "={{ $('Loop Over Items').item.json['NUMERO DE ENVIO'] }}",
                        "SEGUIMIENTO": "resuelto",
                        "FECHA PROCESADO": "={{ $now.toFormat('dd-MM-yyyy HH:mm:ss') }}",
                        "RESULTADO FOLLOWUP": "Incidencia resuelta",
                        "row_number": 0
                    },
                    "matchingColumns": [
                        "NUMERO DE ENVIO"
                    ],
                    "schema": [
                        {
                            "id": "FECHA PROCESADO",
                            "displayName": "FECHA PROCESADO",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "NUMERO DE ENVIO",
                            "displayName": "NUMERO DE ENVIO",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "NUMERO DE PEDIDO",
                            "displayName": "NUMERO DE PEDIDO",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "TIENDA",
                            "displayName": "TIENDA",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "CENTRO",
                            "displayName": "CENTRO",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "INCIDENCIA",
                            "displayName": "INCIDENCIA",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "FECHA INCIDENCIA",
                            "displayName": "FECHA INCIDENCIA",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "H EN INCIDENCIA",
                            "displayName": "H EN INCIDENCIA",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "EMAIL ENVIADO",
                            "displayName": "EMAIL ENVIADO",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "TIPO EMAIL",
                            "displayName": "TIPO EMAIL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "RAZON",
                            "displayName": "RAZON",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "DESTINATARIO",
                            "displayName": "DESTINATARIO",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "CREDENCIAL",
                            "displayName": "CREDENCIAL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "NUMERO AVISOS",
                            "displayName": "NUMERO AVISOS",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "SEGUIMIENTO",
                            "displayName": "SEGUIMIENTO",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "RESULTADO FOLLOWUP",
                            "displayName": "RESULTADO FOLLOWUP",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "b01dbb4a-d5d6-4ec7-a086-2b345bd21cf4",
            "name": "Marcar Resuelto",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                -14608,
                4992
            ],
            "retryOnFail": true,
            "maxRetries": 3,
            "retryDelay": 5000,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "vUMIiZSNk60SoDGg",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.data[0].incident_type_code }}",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "rightValue": "={{ $('Loop Over Items').item.json.incident_type_code }}",
                                        "id": "d67758f1-e224-4bdc-8d5c-5156a2e935e6"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Sigue con Incidencia"
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra"
                }
            },
            "id": "c903bd87-97e3-4a52-ad66-6b92dc65e3f3",
            "name": "Verificar Cambio",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                -14832,
                4304
            ]
        },
        {
            "parameters": {
                "url": "https://api.cttexpress.com/integrations/trf/web-tracking/v1.0/shippings",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "shipping_code",
                            "value": "={{ $json.shipping_code }}"
                        },
                        {
                            "name": "shipping_date",
                            "value": "={{ $now.minus({days: 120}).toFormat('yyyy-MM-dd') }}[range]{{ $now.toFormat('yyyy-MM-dd') }}"
                        },
                        {
                            "name": "mapping_table_code",
                            "value": "APITRACK"
                        },
                        {
                            "name": "client_center_code",
                            "value": "={{ $json.client_center_code }}"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('1. Obtener Token CTT1').item.json.access_token }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 30000
                }
            },
            "id": "22537fed-c4da-46ef-87d1-e9c9795f9055",
            "name": "2. Leer Pedidos CTT - KULTUDENDA",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -15056,
                4992
            ]
        },
        {
            "parameters": {
                "url": "https://api.cttexpress.com/integrations/trf/web-tracking/v1.0/shippings",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "shipping_code",
                            "value": "={{ $json.shipping_code }}"
                        },
                        {
                            "name": "shipping_date",
                            "value": "={{ $now.minus({days: 120}).toFormat('yyyy-MM-dd') }}[range]{{ $now.toFormat('yyyy-MM-dd') }}"
                        },
                        {
                            "name": "mapping_table_code",
                            "value": "APITRACK"
                        },
                        {
                            "name": "client_center_code",
                            "value": "={{ $json.client_center_code }}"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('1. Obtener Token CTT1').item.json.access_token }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 30000
                }
            },
            "id": "a51c5683-ad9f-4796-897e-42fc6ef89dc5",
            "name": "2. Leer Pedidos CTT - MIESTERY",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -15056,
                4800
            ]
        },
        {
            "parameters": {
                "url": "https://api.cttexpress.com/integrations/trf/web-tracking/v1.0/shippings",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "shipping_code",
                            "value": "={{ $json.shipping_code }}"
                        },
                        {
                            "name": "shipping_date",
                            "value": "={{ $now.minus({days: 120}).toFormat('yyyy-MM-dd') }}[range]{{ $now.toFormat('yyyy-MM-dd') }}"
                        },
                        {
                            "name": "mapping_table_code",
                            "value": "APITRACK"
                        },
                        {
                            "name": "client_center_code",
                            "value": "={{ $json.client_center_code }}"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('1. Obtener Token CTT1').item.json.access_token }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 30000
                }
            },
            "id": "53d1f274-9d30-46b5-a003-f48228c960ee",
            "name": "2. Leer Pedidos CTT - HAMINOS",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -15056,
                4592
            ]
        },
        {
            "parameters": {
                "url": "https://api.cttexpress.com/integrations/trf/web-tracking/v1.0/shippings",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "shipping_code",
                            "value": "={{ $json.shipping_code }}"
                        },
                        {
                            "name": "shipping_date",
                            "value": "={{ $now.minus({days: 120}).toFormat('yyyy-MM-dd') }}[range]{{ $now.toFormat('yyyy-MM-dd') }}"
                        },
                        {
                            "name": "mapping_table_code",
                            "value": "APITRACK"
                        },
                        {
                            "name": "client_center_code",
                            "value": "={{ $json.client_center_code }}"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('1. Obtener Token CTT1').item.json.access_token }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 30000
                }
            },
            "id": "708e56e8-a3ad-436e-8213-73db41356393",
            "name": "2. Leer Pedidos CTT - SNAPPY",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -15056,
                4112
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "88816cd5-cf0a-4aea-96f0-d8d71a456a38",
            "name": "Loop Over Items",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -15504,
                5136
            ]
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk",
                    "mode": "list",
                    "cachedResultName": "CTT Tracking Log",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1123525887,
                    "mode": "list",
                    "cachedResultName": "Incidencias",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk/edit#gid=1123525887"
                },
                "options": {}
            },
            "id": "5a2bfd7c-fef4-4d78-917a-ed980871d717",
            "name": "Leer Incidencias Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                -15952,
                5136
            ],
            "retryOnFail": true,
            "maxRetries": 3,
            "retryDelay": 5000,
            "alwaysOutputData": true,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "vUMIiZSNk60SoDGg",
                    "name": "Google Sheets account"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "f1",
                            "leftValue": "={{ $json.SEGUIMIENTO }}",
                            "rightValue": "pendiente",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2.3,
            "position": [
                -15728,
                5136
            ],
            "id": "805ad316-c6c2-45ac-a127-de44aa24aa7d",
            "name": "Filtrar Pendientes",
            "alwaysOutputData": true,
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.cttexpress.com/integrations/oauth2/token",
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "client_id",
                            "value": "6lmgulg22aneeht6tj0oqgd5nt"
                        },
                        {
                            "name": "client_secret",
                            "value": "g84jnhse644ttjct97s1hkvth1ekbh8pupjpoue9ubmhmis77ll"
                        },
                        {
                            "name": "grant_type",
                            "value": "client_credentials"
                        },
                        {
                            "name": "scope",
                            "value": "urn:com:ctt-express:integration-clients:scopes:common/ALL"
                        }
                    ]
                },
                "options": {}
            },
            "id": "06c8f809-c160-47d1-99b5-8c91a020b9f7",
            "name": "1. Obtener Token CTT1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -16176,
                5136
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "3fd0622f-2d79-4781-a4db-c2e71d04fe82",
                            "name": "email_interno",
                            "value": "sergicolet.ia@gmail.com",
                            "type": "string"
                        },
                        {
                            "id": "email-ctt-field",
                            "name": "email_ctt",
                            "value": "ctt-incidencias@ejemplo.com",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -16400,
                5136
            ],
            "id": "639535d9-8880-4c11-a418-4ad0f215b1bb",
            "name": "Edit Fields"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.client_center_code.toString() }}",
                                        "rightValue": "4863000001",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "85247d9d-95cf-4edc-b3a4-cde9546bb7f6"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "HAMINOS"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "e5e4d3c9-5586-4884-b22a-3e8cd5516043",
                                        "leftValue": "={{ $json.client_center_code.toString() }}",
                                        "rightValue": "^(4768500001|4768500002|4768500003)$",
                                        "operator": {
                                            "type": "string",
                                            "operation": "regex"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "SERVICE CORP WORLD"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "fb422c07-dfbc-4599-a338-fe44c48bf200",
                                        "leftValue": "={{ $json.client_center_code.toString() }}",
                                        "rightValue": "^(4541600001|4541600002)$",
                                        "operator": {
                                            "type": "string",
                                            "operation": "regex"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "KULTUDENDA"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "46f7697e-9845-4cd2-ba61-e54896897b6f",
                                        "leftValue": "={{ $json.client_center_code.toString() }}",
                                        "rightValue": "^(4735200001|4735200002|4735200003|4735200004)$",
                                        "operator": {
                                            "type": "string",
                                            "operation": "regex"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "SNAPPY"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                -15280,
                4672
            ],
            "id": "30e57e19-0cf5-47b5-a80d-bf28afb50de6",
            "name": "Switch por Tienda (API)"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ Number($('Loop Over Items').item.json.numero_incidencias || 1) }}",
                                        "rightValue": 1,
                                        "operator": {
                                            "type": "number",
                                            "operation": "equals"
                                        },
                                        "id": "primera-incidencia"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Primera (Email CTT)"
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra"
                }
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                -14608,
                4208
            ],
            "id": "ed935a74-7455-4467-8726-47f1fd5f3cfd",
            "name": "Primera o Siguiente"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $('Loop Over Items').item.json.client_center_code.toString() }}",
                                        "rightValue": "4863000001",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "haminos-ctt"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "HAMINOS"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "miestery-ctt",
                                        "leftValue": "={{ $('Loop Over Items').item.json.client_center_code.toString() }}",
                                        "rightValue": "^(4768500001|4768500002|4768500003)$",
                                        "operator": {
                                            "type": "string",
                                            "operation": "regex"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "SERVICE CORP WORLD"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "kultudenda-ctt",
                                        "leftValue": "={{ $('Loop Over Items').item.json.client_center_code.toString() }}",
                                        "rightValue": "^(4541600001|4541600002)$",
                                        "operator": {
                                            "type": "string",
                                            "operation": "regex"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "KULTUDENDA"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "snappy-ctt",
                                        "leftValue": "={{ $('Loop Over Items').item.json.client_center_code.toString() }}",
                                        "rightValue": "^(4735200001|4735200002|4735200003|4735200004)$",
                                        "operator": {
                                            "type": "string",
                                            "operation": "regex"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "SNAPPY"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                -14384,
                3808
            ],
            "id": "43eeced9-d01d-4abb-8cb8-70c3fa4fa2cc",
            "name": "Switch Tienda (Email CTT)"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $('Loop Over Items').item.json.client_center_code.toString() }}",
                                        "rightValue": "4863000001",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "haminos-interno"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "HAMINOS"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "miestery-interno",
                                        "leftValue": "={{ $('Loop Over Items').item.json.client_center_code.toString() }}",
                                        "rightValue": "^(4768500001|4768500002|4768500003)$",
                                        "operator": {
                                            "type": "string",
                                            "operation": "regex"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "SERVICE CORP WORLD"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "kultudenda-interno",
                                        "leftValue": "={{ $('Loop Over Items').item.json.client_center_code.toString() }}",
                                        "rightValue": "^(4541600001|4541600002)$",
                                        "operator": {
                                            "type": "string",
                                            "operation": "regex"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "KULTUDENDA"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "snappy-interno",
                                        "leftValue": "={{ $('Loop Over Items').item.json.client_center_code.toString() }}",
                                        "rightValue": "^(4735200001|4735200002|4735200003|4735200004)$",
                                        "operator": {
                                            "type": "string",
                                            "operation": "regex"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "SNAPPY"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                -14384,
                4576
            ],
            "id": "86fff059-2dc0-47e1-ac27-a830a633be3e",
            "name": "Switch Tienda (Email Interno)"
        },
        {
            "parameters": {
                "inputSource": "passthrough"
            },
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [
                -16624,
                5136
            ],
            "id": "48185bab-b84c-4785-bf63-dedccef103ea",
            "name": "When Executed by Another Workflow"
        }
    ],
    "connections": {
        "Email INTERNO (KULTUDENDA)": {
            "main": [
                [
                    {
                        "node": "Actualizar Contador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Email INTERNO (MIESTERY)": {
            "main": [
                [
                    {
                        "node": "Actualizar Contador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Email INTERNO (HAMINOS)": {
            "main": [
                [
                    {
                        "node": "Actualizar Contador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Email INTERNO (SNAPPY)": {
            "main": [
                [
                    {
                        "node": "Actualizar Contador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Email CTT (KULTUDENDA)": {
            "main": [
                [
                    {
                        "node": "Actualizar Contador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Email CTT (MIESTERY)": {
            "main": [
                [
                    {
                        "node": "Actualizar Contador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Re-notificación [HAMINOS]": {
            "main": [
                [
                    {
                        "node": "Actualizar Contador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Re-notificación [SNAPPY]": {
            "main": [
                [
                    {
                        "node": "Actualizar Contador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Actualizar Contador": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Marcar Resuelto": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Verificar Cambio": {
            "main": [
                [
                    {
                        "node": "Primera o Siguiente",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Marcar Resuelto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Leer Pedidos CTT - KULTUDENDA": {
            "main": [
                [
                    {
                        "node": "Verificar Cambio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Leer Pedidos CTT - MIESTERY": {
            "main": [
                [
                    {
                        "node": "Verificar Cambio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Leer Pedidos CTT - HAMINOS": {
            "main": [
                [
                    {
                        "node": "Verificar Cambio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Leer Pedidos CTT - SNAPPY": {
            "main": [
                [
                    {
                        "node": "Verificar Cambio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Items": {
            "main": [
                [],
                [
                    {
                        "node": "Switch por Tienda (API)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Leer Incidencias Sheets": {
            "main": [
                [
                    {
                        "node": "Filtrar Pendientes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filtrar Pendientes": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1. Obtener Token CTT1": {
            "main": [
                [
                    {
                        "node": "Leer Incidencias Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields": {
            "main": [
                [
                    {
                        "node": "1. Obtener Token CTT1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch por Tienda (API)": {
            "main": [
                [
                    {
                        "node": "2. Leer Pedidos CTT - HAMINOS",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "2. Leer Pedidos CTT - MIESTERY",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "2. Leer Pedidos CTT - KULTUDENDA",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "2. Leer Pedidos CTT - SNAPPY",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Primera o Siguiente": {
            "main": [
                [
                    {
                        "node": "Switch Tienda (Email CTT)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Switch Tienda (Email Interno)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Tienda (Email CTT)": {
            "main": [
                [
                    {
                        "node": "Re-notificación [HAMINOS]",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Email CTT (MIESTERY)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Email CTT (KULTUDENDA)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Re-notificación [SNAPPY]",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Tienda (Email Interno)": {
            "main": [
                [
                    {
                        "node": "Email INTERNO (HAMINOS)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Email INTERNO (MIESTERY)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Email INTERNO (KULTUDENDA)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Email INTERNO (SNAPPY)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When Executed by Another Workflow": {
            "main": [
                [
                    {
                        "node": "Edit Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "1c2aee663286167ca5973273ceb0c60aa2fcbae95195db0810f62f8c4797daff"
    }
}