workflows/incidencias.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 * * 1-5"
            }
          ]
        }
      },
      "id": "43f32243-8909-45d9-bad1-0f1a59c2ce44",
      "name": "Trigger 12h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2816,
        1200
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk",
          "mode": "list",
          "cachedResultName": "CTT Tracking Log"
        },
        "sheetName": {
          "__rl": true,
          "value": 1123525887,
          "mode": "list",
          "cachedResultName": "Incidencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk/edit#gid=1123525887"
        },
        "options": {}
      },
      "id": "0270bb0f-699d-4a26-8ee4-d8b3c6cffbbb",
      "name": "Leer Incidencias",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2592,
        1200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vUMIiZSNk60SoDGg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f1",
              "leftValue": "={{ $json['EMAIL ENVIADO'].toString() }}",
              "rightValue": "SI",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f2",
              "leftValue": "={{ $json['TIPO EMAIL'] }}",
              "rightValue": "standard",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f3",
              "leftValue": "={{ $json['RESULTADO FOLLOWUP'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f4",
              "leftValue": "={{ $json['FECHA PROCESADO'].substring(0, 10) }}",
              "rightValue": "={{ $now.weekday === 1 ? $now.minus({days: 3}).toFormat('dd-MM-yyyy') : $now.minus({days: 1}).toFormat('dd-MM-yyyy') }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e2bed637-3429-4ec0-8789-c69f7ac26b68",
      "name": "Filtrar Incidencias Ayer",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -2368,
        1200
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b5dd8e18-978f-4d10-a469-96318e96f971",
      "name": "Loop Followup",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2144,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cttexpress.com/integrations/oauth2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "6lmgulg22aneeht6tj0oqgd5nt"
            },
            {
              "name": "client_secret",
              "value": "g84jnhse644ttjct97s1hkvth1ekbh8pupjpoue9ubmhmis77ll"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "scope",
              "value": "urn:com:ctt-express:integration-clients:scopes:common/ALL"
            }
          ]
        },
        "options": {}
      },
      "id": "453101ec-2d12-4b5a-b002-3b83b7548595",
      "name": "Token HAMINOS FW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1696,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cttexpress.com/integrations/oauth2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "3eg1spueen47l2jkcm0dt56olk"
            },
            {
              "name": "client_secret",
              "value": "dmnoi2am8sdndpc1p905c2s5van5p110fik945t5q6pd5fkledk"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "scope",
              "value": "urn:com:ctt-express:integration-clients:scopes:common/ALL"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d5860f-14eb-435c-adc4-4af5bd61fb4f",
      "name": "Token MIESTERY FW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1696,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cttexpress.com/integrations/oauth2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "76m6rjgitmn2rdnpvenkngtf2"
            },
            {
              "name": "client_secret",
              "value": "145nub573diu45cleh7h3at6gkb6f91shoh9lv38q1djoi245loj"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "scope",
              "value": "urn:com:ctt-express:integration-clients:scopes:common/ALL"
            }
          ]
        },
        "options": {}
      },
      "id": "f6a4e78f-aab3-4a58-8fb0-c01a9117dd8c",
      "name": "Token KULTUDENDA FW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1696,
        1104
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cttexpress.com/integrations/oauth2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "21fmaj0ohg018vodhuf7cgdbqn"
            },
            {
              "name": "client_secret",
              "value": "6vrimoi7bftui40e63o3i2jhd9lqc6bcfuag2af6n35oov38oa1"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "scope",
              "value": "urn:com:ctt-express:integration-clients:scopes:common/ALL"
            }
          ]
        },
        "options": {}
      },
      "id": "b941fe89-b225-4b48-a546-daadfac79e95",
      "name": "Token SNAPPY FW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1696,
        1296
      ]
    },
    {
      "parameters": {
        "url": "=https://api.cttexpress.com/integrations-info/trf/item-history-api/history/{{ $('Loop Followup').item.json['NUMERO DE ENVIO'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "view",
              "value": "APITRACK"
            },
            {
              "name": "showItems",
              "value": "false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $('Token ' + $json['TIENDA'] + ' FW').item.json.access_token}}"
            }
          ]
        },
        "options": {},
        "authentication": "predefinedCredentialType"
      },
      "id": "3da5c93f-9eb6-44ca-b7e6-b68dd7656d4a",
      "name": "Obtener Historial FW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1472,
        576
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "try {\n  const incidencia = $('Loop Followup').first().json;\n  const history = $input.item.json;\n  let events = [];\n  if (history?.data?.shipping_history?.events) {\n    events = history.data.shipping_history.events;\n  }\n  let formattedHistory = 'Sin eventos disponibles';\n  if (events.length > 0) {\n    formattedHistory = events.map(e => {\n      let date = e.event_date || e.item_event_date || '';\n      if (date) {\n        try {\n          const d = new Date(date);\n          d.setHours(d.getHours() + 1);\n          date = d.toISOString().replace('T', ' ').substring(0, 16);\n        } catch(x) {}\n      }\n      const code = e.code || e.event_code || 'N/A';\n      const desc = e.description || e.event_description || '';\n      const detail = e.detail?.External_event_text || e.detail?.item_event_text || '';\n      return `${date} - [${code}] ${desc} (${detail})`;\n    }).join('\\n');\n  }\n  return {\n    json: {\n      shipping_code: incidencia['NUMERO DE ENVIO'],\n      numero_pedido: incidencia['NUMERO DE PEDIDO'],\n      tienda: incidencia['TIENDA'],\n      credencial: incidencia['CREDENCIAL'],\n      incidencia_registrada: incidencia['INCIDENCIA'],\n      fecha_incidencia_original: incidencia['FECHA PROCESADO'],\n      formatted_history: formattedHistory\n    }\n  };\n} catch(error) {\n  throw new Error(`[Code FW JS3] ${error.message}`);\n}"
      },
      "id": "fb200a44-eb7e-4b07-9d43-d1d0c248260e",
      "name": "Code FW JS3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        576
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Incidencia registrada ayer: {{ $json.incidencia_registrada }}\n\nHistorial actual:\n{{ $json.formatted_history }}\n\nNumero de Pedido: {{ $json.shipping_code }}\nHora actual: {{ $now.toFormat('yyyy-MM-dd HH:mm') }} ({{ ['Lunes','Martes','Miércoles','Jueves','Viernes','Sábado','Domingo'][$now.weekday - 1] }})"
            },
            {
              "role": "system",
              "content": "Eres un auditor logistico de CTT Express. Se te proporciona una incidencia registrada ayer y el historial actual del envio. Determina si la incidencia sigue activa o se ha resuelto. RESPONDE SOLO CON JSON PURO, SIN MARKDOWN.\n\n### FUENTE DE VERDAD\nLee el historial de arriba a abajo. El ultimo evento es el estado actual.\nCompara el estado actual con la incidencia registrada ayer.\n\n### RESOLUCION\nLa incidencia se considera RESUELTA si:\n- El envio ha sido entregado (estado 2000 o delivery_date informado)\n- Una incidencia de reparto fallido (1600/2300/2400/2600/2700) fue seguida de 1500 activo\n- El envio ya no presenta el codigo de incidencia original\n\nLa incidencia SIGUE ACTIVA si:\n- El ultimo evento sigue siendo un codigo de incidencia\n- No ha habido avance significativo desde ayer\n- El envio sigue bloqueado en el mismo estado\n\n\n### REGLAS PARA EMAIL_BODY (Solo si sigue_incidencia: true)\nUsa exactamente estas plantillas segun el caso:\n\n- Si ayer estaba en TRANSITO (0900/1000) y hoy sigue igual (Regla 2):\n  \"Buenos dias. El envio [SEG] estuvo en transito el dia anterior y hoy aun no ha cambiado a reparto. Solicitamos que el envio salga a reparto al dia siguiente. Gracias.\"\n\n- Si ayer estaba en REPARTO (1200/1500) y hoy sigue igual (Regla 3):\n  \"Buenos dias. El envio [SEG] se encuentra en reparto desde ayer sin entregarse. Solicitamos que el pedido sea sacado nuevamente a reparto hoy mismo. Gracias.\"\n\n- Si es la PRIMERA INCIDENCIA (1600, 2300, etc) (Regla 4):\n  \"Buenos dias. El envio [SEG] presenta su primera incidencia. Solicitamos explicitamente un segundo intento de reparto para el siguiente dia habil. Gracias.\"\n\n### SALIDA JSON\n{\n  \"sigue_incidencia\": true,\n  \"estado_actual\": \"Descripcion del ultimo evento del historial\",\n  \"justification\": \"Razon detallada de por que sigue activa o se resolvió.\",\n  \"email_body\": \"Texto del correo segun las reglas de explicacion-workflow.txt si sigue activa, o vacio si se resolvió.\"\n}\n\n\n### REGLA ESPECIAL TRANSITO (SLA 24-48H)\nSi el paquete estaba ayer en incidencia por tránsito (0900/1000) y hoy sigue sin estar en reparto (no hay 1200 ni 1500), la incidencia SIGUE ACTIVA independientemente de que hoy haya nuevos eventos de gestión interna como el 71_INAT.\nEl SLA de tránsito se incumple si pasan más de 24h laborables desde el primer escaneo de tránsito (0900/1000) hasta la entrega o reparto.\n\n### EJEMPLOS DE SALIDA JSON (ESTO ES SOLO EL FORMATO, NO LOS COPIES TEXTUALMENTE)\n\nEJEMPLO 1: INCIDENCIA SIGUE ACTIVA\n{\n  \"sigue_incidencia\": true,\n  \"estado_actual\": \"1600 Reparto fallido\",\n  \"justification\": \"Ayer estaba en 1600. Hoy el ultimo evento sigue siendo 1600 Reparto fallido a las 14:15. Sigue activa porque no hay avance ni entrega.\"\n}\n\nEJEMPLO 2: INCIDENCIA RESUELTA\n{\n  \"sigue_incidencia\": false,\n  \"estado_actual\": \"1500 En reparto\",\n  \"justification\": \"Ayer estaba en 1600. Hoy el ultimo evento es 1500 En reparto a las 09:30. Resuelta porque se ha programado un nuevo intento hoy.\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "id": "25d195a5-bce1-4d05-858e-fb0b061661cb",
      "name": "IA Followup",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1024,
        576
      ],
      "credentials": {
        "openAiApi": {
          "id": "1MaHDKdD55sbyLF8",
          "name": "haminos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst aiText = raw.output[0].content[0].text;\nconst aiData = JSON.parse(aiText.replace(/```json|```/g, '').trim());\n\nconst incidencia = $('Loop Followup').first().json;\n\nreturn {\n  shipping_code: incidencia['NUMERO DE ENVIO'],\n  numero_pedido: incidencia['NUMERO DE PEDIDO'],\n  tienda: incidencia['TIENDA'],\n  credencial: incidencia['CREDENCIAL'],\n  incidencia_registrada: incidencia['INCIDENCIA'],\n  sigue_incidencia: aiData.sigue_incidencia === true,\n  estado_actual: aiData.estado_actual || '',\n  justification: aiData.justification || '',\n  email_body: aiData.email_body || ''\n};"
      },
      "id": "26604e16-1d28-4996-ada0-6709f891a07f",
      "name": "Code FW JS2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-sigue",
              "leftValue": "={{ $json.sigue_incidencia }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0ac84a8e-f6e9-47eb-83c7-83bd1cb62ec0",
      "name": "If Sigue Incidencia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        576
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.credencial }}",
                    "rightValue": "HAMINOS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HAMINOS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.credencial }}",
                    "rightValue": "MIESTERY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MIESTERY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.credencial }}",
                    "rightValue": "KULTUDENDA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "KULTUDENDA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.credencial }}",
                    "rightValue": "SNAPPY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SNAPPY"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "aaf8deac-f6fd-4363-97e7-0e23628e7852",
      "name": "Switch Tienda FW",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        336
      ]
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Incidencia en el envio {{ $json.shipping_code }}",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "263f84c7-c83f-4f1b-ac9c-81791d7caf73",
      "name": "FW Gmail H",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "webhookId": "45217402-ac7a-4e20-af92-7d40e1ad1d87",
      "credentials": {
        "gmailOAuth2": {
          "id": "xvnQhr5hfD4gc3Uk",
          "name": "HAMINOS"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Incidencia en el envio {{ $json.shipping_code }}",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "452197d6-3427-48dd-8ce6-5f4815fe7c44",
      "name": "FW Gmail M",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        192
      ],
      "webhookId": "bf8672e7-5a5f-485e-bdf7-413976cccfc9",
      "credentials": {
        "gmailOAuth2": {
          "id": "QJJKjkTiSoxnKucv",
          "name": "MIESTERY / SERVICE CORP WORLD"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Incidencia en el envio {{ $json.shipping_code }}",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "f8ec47c5-76c0-49f6-a258-3b6949015c4f",
      "name": "FW Gmail K",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        384
      ],
      "webhookId": "d7f0234e-d878-43af-ab6f-e0f26618cc9b",
      "credentials": {
        "gmailOAuth2": {
          "id": "I8iOQCCkF5dchDft",
          "name": "KULTURDENDA"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Incidencia en el envio {{ $json.shipping_code }}",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "55ba5d15-c1aa-4e4b-b562-cfc49bc541d1",
      "name": "FW Gmail S",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        672
      ],
      "webhookId": "2384e059-84af-4d9e-9017-1b1e870accf6",
      "credentials": {
        "gmailOAuth2": {
          "id": "ATDngCzgo2CXlgvv",
          "name": "SNAPPY"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk",
          "mode": "list",
          "cachedResultName": "CTT Tracking Log"
        },
        "sheetName": {
          "__rl": true,
          "value": 1123525887,
          "mode": "list",
          "cachedResultName": "Incidencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk/edit#gid=1123525887"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NUMERO DE ENVIO": "={{ $('Code FW JS2').item.json.shipping_code }}",
            "SEGUIMIENTO": "={{ $('Code FW JS2').item.json.estado_actual }}",
            "RESULTADO FOLLOWUP": "=Aviso interno enviado {{ $now.toFormat('dd-MM-yyyy HH:mm') }}"
          },
          "matchingColumns": [
            "NUMERO DE ENVIO"
          ],
          "schema": [
            {
              "id": "FECHA PROCESADO",
              "displayName": "FECHA PROCESADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NUMERO DE ENVIO",
              "displayName": "NUMERO DE ENVIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NUMERO DE PEDIDO",
              "displayName": "NUMERO DE PEDIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIENDA",
              "displayName": "TIENDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CENTRO",
              "displayName": "CENTRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INCIDENCIA",
              "displayName": "INCIDENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA INCIDENCIA",
              "displayName": "FECHA INCIDENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H EN INCIDENCIA",
              "displayName": "H EN INCIDENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL ENVIADO",
              "displayName": "EMAIL ENVIADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO EMAIL",
              "displayName": "TIPO EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RAZON",
              "displayName": "RAZON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DESTINATARIO",
              "displayName": "DESTINATARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CREDENCIAL",
              "displayName": "CREDENCIAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NUMERO AVISOS",
              "displayName": "NUMERO AVISOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEGUIMIENTO",
              "displayName": "SEGUIMIENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RESULTADO FOLLOWUP",
              "displayName": "RESULTADO FOLLOWUP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a298ba9f-11e1-429f-a4a6-1d6aa7ba3dd9",
      "name": "Update Sigue Incidencia",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        336
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vUMIiZSNk60SoDGg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk",
          "mode": "list",
          "cachedResultName": "CTT Tracking Log"
        },
        "sheetName": {
          "__rl": true,
          "value": 1123525887,
          "mode": "list",
          "cachedResultName": "Incidencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk/edit#gid=1123525887"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NUMERO DE ENVIO": "={{ $json.shipping_code }}",
            "SEGUIMIENTO": "={{ $json.estado_actual }}",
            "RESULTADO FOLLOWUP": "=Resuelta {{ $now.toFormat('dd-MM-yyyy HH:mm') }}"
          },
          "matchingColumns": [
            "NUMERO DE ENVIO"
          ],
          "schema": [
            {
              "id": "FECHA PROCESADO",
              "displayName": "FECHA PROCESADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NUMERO DE ENVIO",
              "displayName": "NUMERO DE ENVIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NUMERO DE PEDIDO",
              "displayName": "NUMERO DE PEDIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIENDA",
              "displayName": "TIENDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CENTRO",
              "displayName": "CENTRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INCIDENCIA",
              "displayName": "INCIDENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA INCIDENCIA",
              "displayName": "FECHA INCIDENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H EN INCIDENCIA",
              "displayName": "H EN INCIDENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL ENVIADO",
              "displayName": "EMAIL ENVIADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO EMAIL",
              "displayName": "TIPO EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RAZON",
              "displayName": "RAZON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DESTINATARIO",
              "displayName": "DESTINATARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CREDENCIAL",
              "displayName": "CREDENCIAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NUMERO AVISOS",
              "displayName": "NUMERO AVISOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEGUIMIENTO",
              "displayName": "SEGUIMIENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RESULTADO FOLLOWUP",
              "displayName": "RESULTADO FOLLOWUP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "70eb4b7f-4c6f-4cdd-b7b7-7519fa5be3fe",
      "name": "Update Resuelta",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        1072
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vUMIiZSNk60SoDGg",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Trigger 12h": {
      "main": [
        [
          {
            "node": "Token HAMINOS FW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Incidencias": {
      "main": [
        [
          {
            "node": "Filtrar Incidencias Ayer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Incidencias Ayer": {
      "main": [
        [
          {
            "node": "Loop Followup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Followup": {
      "main": [
        [
          {
            "node": "Obtener Historial FW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Credencial": {
      "main": [
        [
          {
            "node": "Token HAMINOS FW",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Token MIESTERY FW",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Token KULTUDENDA FW",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Token SNAPPY FW",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait FW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token HAMINOS FW": {
      "main": [
        [
          {
            "node": "Token MIESTERY FW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token MIESTERY FW": {
      "main": [
        [
          {
            "node": "Token KULTUDENDA FW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token KULTUDENDA FW": {
      "main": [
        [
          {
            "node": "Token SNAPPY FW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token SNAPPY FW": {
      "main": [
        [
          {
            "node": "Leer Incidencias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Historial FW": {
      "main": [
        [
          {
            "node": "Code FW JS3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code FW JS3": {
      "main": [
        [
          {
            "node": "IA Followup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Followup": {
      "main": [
        [
          {
            "node": "Code FW JS2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code FW JS2": {
      "main": [
        [
          {
            "node": "If Sigue Incidencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Sigue Incidencia": {
      "main": [
        [
          {
            "node": "Switch Tienda FW",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Resuelta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Tienda FW": {
      "main": [
        [
          {
            "node": "FW Gmail H",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FW Gmail M",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FW Gmail K",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FW Gmail S",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Followup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FW Gmail H": {
      "main": [
        [
          {
            "node": "Update Sigue Incidencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FW Gmail M": {
      "main": [
        [
          {
            "node": "Update Sigue Incidencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FW Gmail K": {
      "main": [
        [
          {
            "node": "Update Sigue Incidencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FW Gmail S": {
      "main": [
        [
          {
            "node": "Update Sigue Incidencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sigue Incidencia": {
      "main": [
        [
          {
            "node": "Loop Followup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Resuelta": {
      "main": [
        [
          {
            "node": "Loop Followup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait FW": {
      "main": [
        [
          {
            "node": "Loop Followup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Trigger 12h": [
      {
        "timestamp": "2026-02-26T12:00:28.047+01:00",
        "Readable date": "February 26th 2026, 12:00:28 pm",
        "Readable time": "12:00:28 pm",
        "Day of week": "Thursday",
        "Year": "2026",
        "Month": "February",
        "Day of month": "26",
        "Hour": "12",
        "Minute": "00",
        "Second": "28",
        "Timezone": "Europe/Madrid (UTC+01:00)"
      }
    ]
  },
  "meta": {
    "instanceId": "1c2aee663286167ca5973273ceb0c60aa2fcbae95195db0810f62f8c4797daff"
  }
}