workflows/main.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cttexpress.com/integrations/oauth2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "3eg1spueen47l2jkcm0dt56olk"
            },
            {
              "name": "client_secret",
              "value": "dmnoi2am8sdndpc1p905c2s5van5p110fik945t5q6pd5fkledk"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "scope",
              "value": "urn:com:ctt-express:integration-clients:scopes:common/ALL"
            }
          ]
        },
        "options": {}
      },
      "id": "45975755-601a-458e-a1a8-39ddb6ff24ac",
      "name": "1. Obtener Token SERVICE CORP WORLD1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -11648,
        1888
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cttexpress.com/integrations/oauth2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "76m6rjgitmn2rdnpvenkngtf2"
            },
            {
              "name": "client_secret",
              "value": "145nub573diu45cleh7h3at6gkb6f91shoh9lv38q1djoi245loj"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "scope",
              "value": "urn:com:ctt-express:integration-clients:scopes:common/ALL"
            }
          ]
        },
        "options": {}
      },
      "id": "5936e376-2e59-473c-865d-4d518941bbe6",
      "name": "1. Obtener Token KULTUDENDA1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -11648,
        2080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cttexpress.com/integrations/oauth2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "21fmaj0ohg018vodhuf7cgdbqn"
            },
            {
              "name": "client_secret",
              "value": "6vrimoi7bftui40e63o3i2jhd9lqc6bcfuag2af6n35oov38oa1"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "scope",
              "value": "urn:com:ctt-express:integration-clients:scopes:common/ALL"
            }
          ]
        },
        "options": {}
      },
      "id": "f4c10ebb-1407-4a01-a870-597b2e711a8b",
      "name": "1. Obtener Token SNAPPY1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -11648,
        2272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be16fbad-33b2-4ccd-8d9c-629fb2acd44d",
              "name": "daysRange",
              "value": "30",
              "type": "string"
            },
            {
              "id": "151a10f1-deb7-4f75-bad3-acaae563502e",
              "name": "pageLimit",
              "value": "20",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11872,
        1984
      ],
      "id": "23f4ffc8-58ca-4bfa-b90e-620e5bb580ce",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cttexpress.com/integrations/oauth2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "6lmgulg22aneeht6tj0oqgd5nt"
            },
            {
              "name": "client_secret",
              "value": "g84jnhse644ttjct97s1hkvth1ekbh8pupjpoue9ubmhmis77ll"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "scope",
              "value": "urn:com:ctt-express:integration-clients:scopes:common/ALL"
            }
          ]
        },
        "options": {}
      },
      "id": "cf01259d-4e7a-4df3-80d8-e0d79afca0fa",
      "name": "1. Obtener Token HAMINOS1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -11648,
        1696
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -10976,
        1856
      ],
      "id": "3afb4e80-9980-4efe-8f67-f53eaed4ee21",
      "name": "Merge2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 1-5"
            },
            {
              "field": "cronExpression",
              "expression": "0 20 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -12096,
        1984
      ],
      "id": "d437911e-2400-4e7a-a7e5-6aaa6bde41b2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c29a7369-1524-4e44-9139-97f1d52f168c",
              "leftValue": "={{ $json.shipping_status_code }}",
              "rightValue": "2100",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "9de119f0-ff38-45cf-af70-58876bc723b7",
              "leftValue": "={{ $json.shipping_status_code }}",
              "rightValue": "2310",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "7960038a-a926-496e-ac96-2f6d89d956b9",
              "leftValue": "={{ $json.shipping_status_code }}",
              "rightValue": "3000",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8807cbcf-207a-4589-9be0-5b9e28e2ebf9",
      "name": "Filtrar_Estados_Activos_Optimizado",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -10752,
        1888
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c4ff86d6-7719-411d-9f8f-5b54f76f6be9",
      "name": "Loop: Processar 1 a 2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -10528,
        1888
      ]
    },
    {
      "parameters": {
        "url": "=https://api.cttexpress.com/integrations-info/trf/item-history-api/history/{{ $json.shipping_code }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "view",
              "value": "APITRACK"
            },
            {
              "name": "showItems",
              "value": "false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($('Loop: Processar 1 a 2').item.json.client_code == '47352' ? $('1. Obtener Token SNAPPY1').first().json.access_token : $('Loop: Processar 1 a 2').item.json.client_code == '48630' ? $('1. Obtener Token HAMINOS1').first().json.access_token : $('Loop: Processar 1 a 2').item.json.client_code == '47685' ? $('1. Obtener Token SERVICE CORP WORLD1').first().json.access_token : $('1. Obtener Token KULTUDENDA1').first().json.access_token) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a10f180-fee5-4142-941a-317ab52db583",
      "name": "Obtenir Historial Detallat1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -10304,
        1816
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "try {\n  const item = $('Loop: Processar 1 a 2').first().json;\n  const history = $input.item.json;\n  let events = [];\n  if (history?.data?.shipping_history?.events) {\n    events = history.data.shipping_history.events;\n  } else if (Array.isArray(history)) {\n    const data = history[0];\n    if (data?.data?.shipping_history?.events) {\n      events = data.data.shipping_history.events;\n    }\n  }\n  const has1600 = events.some(e => e.code === '1600' || e.event_code === '1600');\n  let formattedHistory = 'Sin eventos disponibles';\n  if (events.length > 0) {\n    formattedHistory = events.map(e => {\n      let date = e.event_date || e.item_event_date || '';\n      if (date) {\n        try {\n          const d = new Date(date);\n          d.setHours(d.getHours() + 1);\n          date = d.toISOString().replace('T', ' ').substring(0, 16);\n        } catch(x) {}\n      }\n      const code = e.code || e.event_code || 'N/A';\n      const desc = e.description || e.event_description || '';\n      const detail = e.detail?.External_event_text || e.detail?.item_event_text || '';\n      return `${date} - [${code}] ${desc} (${detail})`;\n    }).join('\\n');\n  }\n  return {\n    json: {\n      ...item,\n      status_history: events,\n      formatted_history: formattedHistory,\n      history_has_1600: has1600,\n      total_events: events.length\n    }\n  };\n} catch (error) {\n  throw new Error(`[Code JS3] ${error.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10080,
        1816
      ],
      "id": "afd20b53-6b75-41a3-b456-720b10817779",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk",
          "mode": "list",
          "cachedResultName": "CTT Tracking Log"
        },
        "sheetName": {
          "__rl": true,
          "value": 1123525887,
          "mode": "list",
          "cachedResultName": "Incidencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk/edit#gid=1123525887"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "NUMERO DE ENVIO",
              "lookupValue": "={{ $('Code in JavaScript3').item.json.shipping_code }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e0d6267c-4dcf-4c2b-b298-7c5c9fb3cbe3",
      "name": "Buscar Avisos Previos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -9856,
        1816
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vUMIiZSNk60SoDGg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst item = $('Code in JavaScript3').item.json;\nconst hoy = $now.toFormat('dd-MM-yyyy');\nconst ayer = $now.minus({days: 1}).toFormat('dd-MM-yyyy');\n\nconst filasValidas = rows.filter(r => r.json['NUMERO DE ENVIO']);\n\nconst filasHoy = filasValidas.filter(r => {\n  const fecha = (r.json['FECHA PROCESADO'] || '').substring(0, 10);\n  return fecha === hoy;\n});\n\nconst filasAyer = filasValidas.filter(r => {\n  const fecha = (r.json['FECHA PROCESADO'] || '').substring(0, 10);\n  return fecha === ayer;\n});\n\nconst is2500 = String(item.shipping_status_code || '') === '2500';\n\nconst skip = filasHoy.length > 0;\nconst forceInternal = !skip && (filasAyer.length > 0 || is2500);\nconst numeroAvisos = filasValidas.length + 1;\n\nreturn {\n  json: {\n    ...item,\n    skip,\n    force_internal: forceInternal,\n    is_2500: is2500,\n    numero_avisos: numeroAvisos\n  }\n};"
      },
      "id": "2dbf7da3-04f2-4060-a674-6ea86bbd1296",
      "name": "Preparar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9632,
        1816
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1942be12-ce2b-4d79-8e76-c2e3987b6f46",
      "name": "If Duplicado Hoy",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -9408,
        1816
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Historial Procesado:\n{{ $json.formatted_history }}\n\nNumero de Pedido: {{ $json.shipping_code }}\nHora actual: {{ $now.toFormat('yyyy-MM-dd HH:mm') }} ({{ ['Lunes','Martes','Miércoles','Jueves','Viernes','Sábado','Domingo'][$now.weekday - 1] }})"
            },
            {
              "role": "system",
              "content": "=Eres un auditor logistico de CTT Express. Analiza el historial y decide si notificar. RESPONDE SOLO CON JSON PURO, SIN MARKDOWN.\n\n### FUENTE DE VERDAD (CRITICO)\nDetermina el estado actual UNICAMENTE leyendo el historial cronologico de arriba a abajo.\nIgnora cualquier otro campo o dato externo que no sea el historial y la hora actual.\n\n### CALCULO DE HORAS LABORABLES (CRITICO)\nEl historial y la hora actual estan en hora Madrid.\nLos umbrales de 24h se refieren a HORAS LABORABLES (lunes a viernes).\nLos sabados y domingos NO cuentan como tiempo transcurrido.\n\nFormula OBLIGATORIA paso a paso:\n1. Identifica el evento relevante segun las reglas de abajo.\n2. Desde la fecha del evento hasta la hora actual, suma SOLO las horas de dias laborables (lunes a viernes).\n   - Cada dia laborable completo = 24h.\n   - Los sabados y domingos se saltan completamente: no suman nada.\n   - Ejemplo A: Viernes 15:00 → Lunes 15:00 = 24h laborables.\n   - Ejemplo B: Viernes 10:00 → Lunes 18:00 = 32h laborables.\n   - Ejemplo C: Miercoles 10:00 → Jueves 11:00 = 25h laborables.\n3. Ese resultado es horas_in_status.\n4. hours_in_status debe reflejar SIEMPRE las horas reales. Nunca escribas 0 si has calculado otra cifra.\n5. Compara horas_in_status con el umbral ANTES de decidir.\nNO estimes, calcula siempre.\n\n### CICLO DE REPARTO\nEl ciclo de reparto empieza en el primer 1200 o 1500 del ciclo actual.\nUsa la fecha del primer 1200 o 1500 del ciclo actual como punto de inicio.\nEjemplo: si hay 1200 a las 06:42 y luego 1500 a las 11:03, el ciclo empezo a las 06:42.\nCRITICO: Cada vez que aparece un 1000 despues de un 1200, el ciclo SE REINICIA COMPLETAMENTE.\nEl punto de inicio siempre es el ultimo 1200 que no haya sido seguido de otro 1000.\nEjemplo de reinicio: 1200 07:10 → 1000 08:11 (reset) → 1200 17:34 → 1000 18:33 (reset) → 1200 18:34 ← el ciclo empezo a las 18:34.\n\n### ALERTAS CON UMBRAL\nNotificar solo si supera las horas indicadas:\n- 0000 / 0030 → > 24h grabado (Alerta Interna)\n- 1200 / 1500 → > 24h en ciclo de reparto\n- 1700 / 1800 → > 24h estacionado\n\n### REGLA ESPECIAL TRANSITO (SLA 24-48H)\nEl tiempo en transito se mide DESDE el momento en que se documentó originalmente el tránsito, hasta que llega a reparto.\nReglas OBLIGATORIAS para transito:\n1. Buscar el primer evento `0900` o `1000` de todo el historial.\n2. Calcular las horas laborables transcurridas desde ESE primer evento hasta la hora actual.\n3. Ignorar todas las actualizaciones intermedias (como nuevos 1000, 71_INAT o cualquier otro evento que no sea salida a reparto).\n4. Si las horas laborables desde que empezó a estar en tránsito son mayores a 24 horas y todavía no hay un 1200 o 1500, notificar (should_notify: true).\n5. Esta regla tiene prioridad absoluta sobre \"mensajes de gestion interna\" como el 71_INAT.\n\n### ALERTAS SIN UMBRAL\nNotificar SIEMPRE si la incidencia esta ACTIVA:\n- 1600 → reparto fallido\n- 2300, 2400, 2600, 2700 → variantes de reparto fallido\n- 0600 → recogida fallida\n- 2310 / 2900 → datos incorrectos\n- 1012 → posible extravio\n- 1006 → danos en contenido\n- 1008 → posible robo\n\nEn detected_incident escribe siempre el nombre, no el codigo.\n\n### REGLA DE RESOLUCION DE INCIDENCIAS (CRITICO)\nUna incidencia 1600/2300/2400/2600/2700/0600 esta RESUELTA solamente si despues de ella aparece un 1500.\nSi despues aparece 1200, 1000 u otro codigo distinto de 1500, la incidencia SIGUE ACTIVA.\n\nCasos:\n- 1600 es el ultimo evento → should_notify: true SIEMPRE\n- 1600 → 1500 (ultimo) → resuelta → should_notify: false, evaluar 1500 con umbral\n- 1600 → 1200 (ultimo) → NO resuelta → should_notify: true\n- 1600 → 1000 (ultimo) → NO resuelta → should_notify: true\n- 0600 es el ultimo evento → should_notify: true SIEMPRE\n\n### NO NOTIFICAR si:\n- horas_in_status < 24 para 0000/0030/0900/1000/1200/1500/1700/1800\n- Incidencia 1600/variante seguida de 1500 → resuelta\n- Evento 71_INAT → ya gestionado. Si el ultimo evento es 71_INAT → should_notify: false, EXCEPTO si se incumple la REGLA ESPECIAL TRANSITO (en cuyo caso notifica por retraso en transito igualmente).\n- delivery_date informado → ya entregado\n- Ultimo evento no esta en lista de alertas\n\n### NOTA IMPORTANTE\nResponde siempre target_type: standard. El sistema lo sobreescribira si es necesario.\n\n### PLANTILLAS SEGUN WORKFLOW (usa el Numero de Pedido exacto del prompt como [SEG])\nemail_subject → SIEMPRE: \"Incidencia en el envio [SEG]\"\nemail_body → texto largo de la plantilla\n\nREGLAS DE PLANTILLA (SOLO PARA should_notify: true):\n- 0000/0030 (Día 1 - Alerta Interna):\n  email_subject: \"ALERTA INTERNA: Envio [SEG] grabado sin recoger\"\n  email_body: \"El envio [SEG] figura como grabado o recogida sin programar desde ayer. Revisar con almacen.\"\n  target_type: \"internal\"\n\n- 0900/1000 (Día 2 - Tránsito estancado):\n  email_body: \"Buenos dias. El envio [SEG] estuvo en transito el dia anterior y hoy aun no ha cambiado a reparto. Solicitamos que el envio salga a reparto al dia siguiente. Gracias.\"\n  target_type: \"standard\"\n\n- 1200/1500 (Día 3 - Reparto estancado):\n  email_body: \"Buenos dias. El envio [SEG] se encuentra en reparto desde ayer sin entregarse. Solicitamos que el pedido sea sacado nuevamente a reparto hoy mismo. Gracias.\"\n  target_type: \"standard\"\n\n- 1600/2300/2400/2600/2700 (Incidencia):\n  email_body: \"Buenos dias. El envio [SEG] presenta su primera incidencia. Solicitamos explicitamente un segundo intento de reparto para el siguiente dia habil. Gracias.\"\n  target_type: \"standard\"\n\n- Otros casos (0600, 2310, 2900, 1012, 1006, 1008): usar un mensaje descriptivo similar pidiendo gestion urgente.\n\n### COHERENCIA OBLIGATORIA\nSi should_notify es false → email_subject y email_body deben ser \"\" (vacios).\nSi escribes \"no supera\" o \"resuelta\" → should_notify: false.\nSi escribes \"supera\" o \"incidencia activa\" → should_notify: true.\nNunca contradigas la justificacion con la decision.\n\n### SALIDA JSON\nREGLAS (OBLIGATORIO):\n- Si no se supera el umbral y no hay alertas sin umbral activas, PON should_notify: false y DEJA LOS CAMPOS DE EMAIL VACIOS (\"\").\n- email_subject → SIEMPRE: \"Incidencia en el envio [SEG]\" con el numero real\n- email_body → texto largo de la plantilla con el numero real\n- NUNCA el body en el subject ni al reves\n- Si should_notify false → ambos campos \"\"\n\n### VERIFICACIÓN FINAL OBLIGATORIA (ejecutar SIEMPRE antes de responder)\nPaso 1: ¿El último evento es 1600/2300/2400/2600/2700/0600?\n  → SI y NO hay 1500 posterior → should_notify: true. IGNORA cualquier cálculo de horas.\n  → NO → continúa con el análisis normal de umbrales.\n\n\n### EJEMPLOS DE SALIDA JSON (ESTO ES SOLO EL FORMATO, NO LOS COPIES PARA OTRO ENVIO)\n\nEJEMPLO 1: INCIDENCIA ACTIVA (Notificar)\n{\n  \"analysis\": {\n    \"detected_incident\": \"Reparto fallido\",\n    \"hours_in_status\": 9,\n    \"is_first_incident\": true,\n    \"justification\": \"Ultimo evento: 1600 Reparto fallido a las 09:17 del martes. Ahora son las 18:36. Umbral: sin umbral. Incidencia activa -> se envia correo.\"\n  },\n  \"decision\": {\n    \"should_notify\": true,\n    \"target_type\": \"standard\",\n    \"email_subject\": \"Incidencia en el envio 0080530080539701011625\",\n    \"email_body\": \"Buenos dias. El envio 0080530080539701011625 presenta reparto fallido o incidencia. Por favor, programar un nuevo reparto para el siguiente dia habil. Gracias.\"\n  }\n}\n\nEJEMPLO 2: SIN INCIDENCIA O NO SUPERA UMBRAL (NO Notificar)\n{\n  \"analysis\": {\n    \"detected_incident\": \"Delegacion destino\",\n    \"hours_in_status\": 0,\n    \"is_first_incident\": false,\n    \"justification\": \"Ultimo evento: 1200 Delegacion destino a las 07:47 del lunes. Ahora son las 17:40. Han pasado 0 horas laborables. No se supera el umbral -> NO se envia correo.\"\n  },\n  \"decision\": {\n    \"should_notify\": false,\n    \"target_type\": \"standard\",\n    \"email_subject\": \"\",\n    \"email_body\": \"\"\n  }\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -9184,
        1744
      ],
      "id": "67a80c1c-60c6-4146-85c4-a126e180462e",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "1MaHDKdD55sbyLF8",
          "name": "haminos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst aiText = raw.output[0].content[0].text;\nconst aiData = JSON.parse(aiText.replace(/```json|```/g, '').trim());\n\nconst contexto = $('Preparar Contexto').item.json;\nconst forceInternal = contexto.force_internal === true;\nconst is2500 = contexto.is_2500 === true;\nconst numeroAvisos = contexto.numero_avisos || 1;\nconst clientCode = String(contexto.client_center_code || '');\n\nlet targetType = aiData.decision?.target_type || 'standard';\nif (forceInternal || is2500) targetType = 'internal';\n\nconst shouldNotify = aiData.decision?.should_notify === true;\n\nconst emailTo = targetType === 'internal'\n  ? 'alertas@sergi.com'\n  : (clientCode.match(/^454160000[1-2]$/) ? 'cca.z2@cttexpress.com' : 'cca.z3@cttexpress.com');\n\nreturn {\n  should_notify: shouldNotify,\n  target_type: targetType,\n  email_subject: shouldNotify ? (aiData.decision?.email_subject || '') : '',\n  email_body: shouldNotify ? (aiData.decision?.email_body || '') : '',\n  ai_incident_detected: aiData.analysis?.detected_incident || 'N/A',\n  ai_justification: aiData.analysis?.justification || 'Sin detalle',\n  h_en_estado: aiData.analysis?.hours_in_status || 0,\n  email_to: emailTo,\n  numero_avisos: numeroAvisos,\n  force_internal: forceInternal,\n  is_2500: is2500\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8832,
        1744
      ],
      "id": "561172dc-4f63-4520-a2b9-219ee5ad5c46",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3b3d3f7b-9600-41fd-91d6-2fb221274511",
              "leftValue": "={{ $json.should_notify }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -8608,
        1744
      ],
      "id": "6c226b93-ed66-4cf6-ab43-86882268635e",
      "name": "If1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code in JavaScript2').item.json.target_type }}",
                    "rightValue": "standard",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Standard"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code in JavaScript2').item.json.target_type }}",
                    "rightValue": "internal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Internal"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "8f61eb2e-ea73-4d56-9392-241e004ed0e7",
      "name": "Switch Target Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -8384,
        1344
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Preparar Contexto').item.json.client_code }}",
                    "rightValue": "48630",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HAMINOS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Preparar Contexto').item.json.client_code }}",
                    "rightValue": "47685",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SERVICE CORP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Preparar Contexto').item.json.client_code }}",
                    "rightValue": "45416",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "KULTUDENDA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Preparar Contexto').item.json.client_code }}",
                    "rightValue": "47352",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SNAPPY"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -8160,
        832
      ],
      "id": "9f453a4f-efaf-482a-a742-31a72bab4afb",
      "name": "Switch3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Preparar Contexto').item.json.client_code }}",
                    "rightValue": "48630",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0ea6be7a-8f97-47c9-86db-8b5d7dc594dd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HAMINOS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Preparar Contexto').item.json.client_code }}",
                    "rightValue": "47685",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7da82b48-f3eb-4463-ab88-5a73641c9905"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SERVICE CORP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Preparar Contexto').item.json.client_code }}",
                    "rightValue": "45416",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2d09f65e-6699-4e65-b7e9-4150ca055344"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "KULTUDENDA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Preparar Contexto').item.json.client_code }}",
                    "rightValue": "47352",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "17fd2f70-4cef-4da9-844b-5131c39d8f3e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SNAPPY"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -8160,
        1768
      ],
      "id": "7d04d535-f513-4483-988f-dab7f03ff4af",
      "name": "Switch Client Internal"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_body }}\n\nSEG: {{ $('Preparar Contexto').item.json.shipping_code }}\nPED: {{ $('Preparar Contexto').item.json.client_references[0] }}",
        "options": {}
      },
      "id": "eb69279d-b2e3-4e44-928d-24236c02f396",
      "name": "Trans H",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -7936,
        544
      ],
      "webhookId": "687fe524-700d-4b68-9c6f-7ba0a82d4b98",
      "credentials": {
        "gmailOAuth2": {
          "id": "xvnQhr5hfD4gc3Uk",
          "name": "HAMINOS"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_body }}\n\nSEG: {{ $('Preparar Contexto').item.json.shipping_code }}\nPED: {{ $('Preparar Contexto').item.json.client_references[0] }}",
        "options": {}
      },
      "id": "c38093fc-d45c-47ae-85e2-2f9a8c10b222",
      "name": "Trans M1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -7936,
        736
      ],
      "webhookId": "d6262cda-5b4c-409d-ad13-2ff59066d7bb",
      "credentials": {
        "gmailOAuth2": {
          "id": "QJJKjkTiSoxnKucv",
          "name": "MIESTERY / SERVICE CORP WORLD"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_body }}\n\nSEG: {{ $('Preparar Contexto').item.json.shipping_code }}\nPED: {{ $('Preparar Contexto').item.json.client_references[0] }}",
        "options": {}
      },
      "id": "a798585c-497a-4a3d-a23c-1b488ac20f37",
      "name": "Trans K1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -7936,
        928
      ],
      "webhookId": "37bf9cb8-6c76-4e55-b952-99c33af2d342",
      "credentials": {
        "gmailOAuth2": {
          "id": "I8iOQCCkF5dchDft",
          "name": "KULTURDENDA"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_body }}\n\nSEG: {{ $('Preparar Contexto').item.json.shipping_code }}\nPED: {{ $('Preparar Contexto').item.json.client_references[0] }}",
        "options": {}
      },
      "id": "618f8c6f-6908-4671-bfc6-db48bad94b14",
      "name": "Trans S1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -7936,
        1120
      ],
      "webhookId": "e6fd21ee-c4ae-4ce2-a664-090d1fb5e50e",
      "credentials": {
        "gmailOAuth2": {
          "id": "ATDngCzgo2CXlgvv",
          "name": "SNAPPY"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=SEGUIMIENTO INTERNO: Incidencia - {{ $('Preparar Contexto').item.json.shipping_code }}",
        "message": "={{ $json.email_body }}\n\n--- DETALLES INTERNOS ---\nJUSTIFICACION IA:\n{{ $json.ai_justification }}\n\nENVIO: {{ $('Preparar Contexto').item.json.shipping_code }}",
        "options": {}
      },
      "id": "51236e8b-9b91-4c7f-b313-fb81bbe576ce",
      "name": "Int H",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -7936,
        1600
      ],
      "webhookId": "3b9886c3-83ec-498a-ae32-8d01c94c75fb",
      "credentials": {
        "gmailOAuth2": {
          "id": "xvnQhr5hfD4gc3Uk",
          "name": "HAMINOS"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=SEGUIMIENTO INTERNO: Incidencia - {{ $('Preparar Contexto').item.json.shipping_code }}",
        "message": "={{ $json.email_body }}\n\n--- DETALLES INTERNOS ---\nJUSTIFICACION IA:\n{{ $json.ai_justification }}\n\nENVIO: {{ $('Preparar Contexto').item.json.shipping_code }}",
        "options": {}
      },
      "id": "79157d42-a414-4425-9f72-f64f8bf08ea6",
      "name": "Int M",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -7936,
        1792
      ],
      "webhookId": "7ef7a9ae-6d77-45b4-8a59-3a858f6eb647",
      "credentials": {
        "gmailOAuth2": {
          "id": "QJJKjkTiSoxnKucv",
          "name": "MIESTERY / SERVICE CORP WORLD"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=SEGUIMIENTO INTERNO: Incidencia - {{ $('Preparar Contexto').item.json.shipping_code }}",
        "message": "={{ $json.email_body }}\n\n--- DETALLES INTERNOS ---\nJUSTIFICACION IA:\n{{ $json.ai_justification }}\n\nENVIO: {{ $('Preparar Contexto').item.json.shipping_code }}",
        "options": {}
      },
      "id": "d0257a76-b447-495d-acbb-326f5e8913f6",
      "name": "Int K",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -7936,
        1984
      ],
      "webhookId": "55cc0f50-7042-44cb-85e3-4a5f07e0cf7d",
      "credentials": {
        "gmailOAuth2": {
          "id": "I8iOQCCkF5dchDft",
          "name": "KULTURDENDA"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=SEGUIMIENTO INTERNO: Incidencia - {{ $('Preparar Contexto').item.json.shipping_code }}",
        "message": "={{ $json.email_body }}\n\n--- DETALLES INTERNOS ---\nJUSTIFICACION IA:\n{{ $json.ai_justification }}\n\nENVIO: {{ $('Preparar Contexto').item.json.shipping_code }}",
        "options": {}
      },
      "id": "711d53c1-9fc2-4d70-a9ed-999c95c1dbd4",
      "name": "Int S",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -7936,
        2176
      ],
      "webhookId": "b097a9b1-1604-4e87-a51d-c8312516ba13",
      "credentials": {
        "gmailOAuth2": {
          "id": "ATDngCzgo2CXlgvv",
          "name": "SNAPPY"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk",
          "mode": "list",
          "cachedResultName": "CTT Tracking Log"
        },
        "sheetName": {
          "__rl": true,
          "value": 1123525887,
          "mode": "list",
          "cachedResultName": "Incidencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk/edit#gid=1123525887"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FECHA PROCESADO": "={{ $now.toFormat('dd-MM-yyyy HH:mm:ss') }}",
            "NUMERO DE ENVIO": "={{ $('Code in JavaScript3').item.json.shipping_code }}",
            "NUMERO DE PEDIDO": "={{ $('Code in JavaScript3').item.json.client_references[0] }}",
            "TIENDA": "={{ $('Preparar Contexto').item.json.client_code === '48630' ? 'HAMINOS' : ($('Preparar Contexto').item.json.client_code === '47685' ? 'MIESTERY' : ($('Preparar Contexto').item.json.client_code === '45416' ? 'KULTUDENDA' : 'SNAPPY')) }}",
            "CENTRO": "={{ $('Code in JavaScript3').item.json.client_center_code }}",
            "INCIDENCIA": "={{ $('Code in JavaScript2').item.json.ai_incident_detected }}",
            "FECHA INCIDENCIA": "={{ $('Code in JavaScript3').item.json.shipping_status_datetime }}",
            "H EN INCIDENCIA": "={{ $('Code in JavaScript2').item.json.h_en_estado }}",
            "EMAIL ENVIADO": "SI",
            "TIPO EMAIL": "={{ $('Code in JavaScript2').item.json.target_type }}",
            "RAZON": "={{ $('Code in JavaScript2').item.json.ai_justification }}",
            "DESTINATARIO": "={{ $('Code in JavaScript2').item.json.email_to }}",
            "CREDENCIAL": "={{ $('Preparar Contexto').item.json.client_code === '48630' ? 'HAMINOS' : ($('Preparar Contexto').item.json.client_code === '47685' ? 'MIESTERY' : ($('Preparar Contexto').item.json.client_code === '45416' ? 'KULTUDENDA' : 'SNAPPY')) }}",
            "NUMERO AVISOS": "={{ $('Code in JavaScript2').item.json.numero_avisos }}"
          },
          "matchingColumns": [
            "NUMERO DE ENVIO"
          ],
          "schema": [
            {
              "id": "FECHA PROCESADO",
              "displayName": "FECHA PROCESADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NUMERO DE ENVIO",
              "displayName": "NUMERO DE ENVIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NUMERO DE PEDIDO",
              "displayName": "NUMERO DE PEDIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIENDA",
              "displayName": "TIENDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CENTRO",
              "displayName": "CENTRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INCIDENCIA",
              "displayName": "INCIDENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA INCIDENCIA",
              "displayName": "FECHA INCIDENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H EN INCIDENCIA",
              "displayName": "H EN INCIDENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL ENVIADO",
              "displayName": "EMAIL ENVIADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO EMAIL",
              "displayName": "TIPO EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RAZON",
              "displayName": "RAZON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DESTINATARIO",
              "displayName": "DESTINATARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CREDENCIAL",
              "displayName": "CREDENCIAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NUMERO AVISOS",
              "displayName": "NUMERO AVISOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEGUIMIENTO",
              "displayName": "SEGUIMIENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RESULTADO FOLLOWUP",
              "displayName": "RESULTADO FOLLOWUP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7262453c-b61b-4c13-8dd9-0c73825db809",
      "name": "Registrar Incidencia1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -7712,
        904
      ],
      "retryOnFail": true,
      "maxRetries": 3,
      "retryDelay": 3000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vUMIiZSNk60SoDGg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk",
          "mode": "list",
          "cachedResultName": "CTT Tracking Log"
        },
        "sheetName": {
          "__rl": true,
          "value": 751381048,
          "mode": "list",
          "cachedResultName": "Test IA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MzLQ4PuK5i4cYJhV2yrezJSoTwse7FsnpX2VcWl65yk/edit#gid=751381048"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FECHA PROCESADO": "={{ $now.toFormat('dd-MM-yyyy HH:mm:ss') }}",
            "NUMERO DE ENVIO": "={{ $('Preparar Contexto').item.json.shipping_code }}",
            "NUMERO DE PEDIDO": "={{ $('Preparar Contexto').item.json.client_references[0] }}",
            "TIENDA": "={{ $('Preparar Contexto').item.json.client_code === '48630' ? 'HAMINOS' : ($('Preparar Contexto').item.json.client_code === '47685' ? 'MIESTERY' : ($('Preparar Contexto').item.json.client_code === '45416' ? 'KULTUDENDA' : 'SNAPPY')) }}",
            "CENTRO": "={{ $('Preparar Contexto').item.json.client_center_code }}",
            "ESTADO": "={{ $('Code in JavaScript3').item.json.shipping_status_code }}",
            "FECHA ESTADO": "={{ $('Code in JavaScript3').item.json.shipping_status_datetime }}",
            "H EN ESTADO": "={{$('Code in JavaScript2').first().json.h_en_estado}}",
            "EMAIL ENVIADO": "={{ $('Code in JavaScript2').first().json.should_notify }}\n",
            "TIPO EMAIL": "={{ $('Code in JavaScript2').first().json.ai_incident_detected }}",
            "RAZON": "={{ $('Code in JavaScript2').first().json.ai_justification }}",
            "DESTINATARIO": "={{ $('Code in JavaScript2').first().json.email_to }}",
            "CREDENCIAL": "={{ $('Preparar Contexto').item.json.client_code === '48630' ? 'HAMINOS' : ($('Preparar Contexto').item.json.client_code === '47685' ? 'MIESTERY' : ($('Preparar Contexto').item.json.client_code === '45416' ? 'KULTUDENDA' : 'SNAPPY')) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FECHA PROCESADO",
              "displayName": "FECHA PROCESADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NUMERO DE ENVIO",
              "displayName": "NUMERO DE ENVIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NUMERO DE PEDIDO",
              "displayName": "NUMERO DE PEDIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIENDA",
              "displayName": "TIENDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CENTRO",
              "displayName": "CENTRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA ESTADO",
              "displayName": "FECHA ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "H EN ESTADO",
              "displayName": "H EN ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL ENVIADO",
              "displayName": "EMAIL ENVIADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO EMAIL",
              "displayName": "TIPO EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RAZON",
              "displayName": "RAZON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DESTINATARIO",
              "displayName": "DESTINATARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CREDENCIAL",
              "displayName": "CREDENCIAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "81b4b3e7-4ec1-4e54-b3da-785031e61654",
      "name": "Log Estados1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -7488,
        1480
      ],
      "retryOnFail": true,
      "maxRetries": 3,
      "retryDelay": 5000,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vUMIiZSNk60SoDGg",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": "NtGW6lN2IMYIaKeYdTuot",
        "options": {}
      },
      "id": "68d644d0-b0d9-4e30-86c7-eaf3ff54dc2b",
      "name": "Call SubWf SNAPPY",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -11200,
        2272
      ]
    },
    {
      "parameters": {
        "workflowId": "NtGW6lN2IMYIaKeYdTuot",
        "options": {}
      },
      "id": "28ebcabf-3695-491e-8000-80483a99da32",
      "name": "Call SubWf KULTUDENDA",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -11200,
        2080
      ]
    },
    {
      "parameters": {
        "workflowId": "NtGW6lN2IMYIaKeYdTuot",
        "options": {}
      },
      "id": "1fc5d889-a10a-40cd-a82e-ef862ca52f71",
      "name": "Call SubWf SERVICE CORP WORLD",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -11200,
        1888
      ]
    },
    {
      "parameters": {
        "workflowId": "NtGW6lN2IMYIaKeYdTuot",
        "options": {}
      },
      "id": "b6e552a0-8aaf-4e9f-9dcb-25cb168c54ee",
      "name": "Call SubWf HAMINOS",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -11200,
        1696
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "uuid-SNAPPY",
              "name": "centers",
              "value": [
                "4735200001",
                "4735200002",
                "4735200003",
                "4735200004",
                "4735200005"
              ],
              "type": "array"
            },
            {
              "id": "df5a71da-5eb7-4553-b8c1-02b903390d9e",
              "name": "access_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "058bce6a-89c5-4487-aded-ebb820a436dd",
      "name": "Config SNAPPY Centers",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11424,
        2272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "uuid-KULTUDENDA",
              "name": "centers",
              "value": [
                "4541600001",
                "4541600002"
              ],
              "type": "array"
            },
            {
              "id": "7ee132dd-b75f-4a2d-adb2-1704dbff8b85",
              "name": "access_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "273c05ed-4c64-478c-a82b-c1c6ab3f4ba4",
      "name": "Config KULTUDENDA Centers",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11424,
        2080
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "uuid-SERVICECORPWORLD",
              "name": "centers",
              "value": [
                "4768500003"
              ],
              "type": "array"
            },
            {
              "id": "0e21b407-7a48-49f0-9ef6-2556a6664105",
              "name": "access_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b8e755c4-5917-440c-a7d8-c74226c98f77",
      "name": "Config SERVICE CORP WORLD Centers",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11424,
        1888
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "uuid-HAMINOS",
              "name": "centers",
              "value": [
                "4863000001"
              ],
              "type": "array"
            },
            {
              "id": "a2e679e1-5f83-43e0-8af0-22e2753e82bd",
              "name": "access_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "58d21272-0e67-48b9-92da-d21bc0d673b3",
      "name": "Config HAMINOS Centers",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11424,
        1696
      ]
    }
  ],
  "connections": {
    "1. Obtener Token SERVICE CORP WORLD1": {
      "main": [
        [
          {
            "node": "Config SERVICE CORP WORLD Centers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Obtener Token KULTUDENDA1": {
      "main": [
        [
          {
            "node": "Config KULTUDENDA Centers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Obtener Token SNAPPY1": {
      "main": [
        [
          {
            "node": "Config SNAPPY Centers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "1. Obtener Token KULTUDENDA1",
            "type": "main",
            "index": 0
          },
          {
            "node": "1. Obtener Token SERVICE CORP WORLD1",
            "type": "main",
            "index": 0
          },
          {
            "node": "1. Obtener Token SNAPPY1",
            "type": "main",
            "index": 0
          },
          {
            "node": "1. Obtener Token HAMINOS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Obtener Token HAMINOS1": {
      "main": [
        [
          {
            "node": "Config HAMINOS Centers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Filtrar_Estados_Activos_Optimizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar_Estados_Activos_Optimizado": {
      "main": [
        [
          {
            "node": "Loop: Processar 1 a 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Processar 1 a 2": {
      "main": [
        [],
        [
          {
            "node": "Obtenir Historial Detallat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtenir Historial Detallat1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Buscar Avisos Previos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Avisos Previos": {
      "main": [
        [
          {
            "node": "Preparar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto": {
      "main": [
        [
          {
            "node": "If Duplicado Hoy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Duplicado Hoy": {
      "main": [
        [
          {
            "node": "Log Estados1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch Target Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Estados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Target Type": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Client Internal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Estados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Trans H",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trans M1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trans K1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trans S1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Estados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Client Internal": {
      "main": [
        [
          {
            "node": "Int H",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Int M",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Int K",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Int S",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Estados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trans H": {
      "main": [
        [
          {
            "node": "Registrar Incidencia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trans M1": {
      "main": [
        [
          {
            "node": "Registrar Incidencia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trans K1": {
      "main": [
        [
          {
            "node": "Registrar Incidencia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trans S1": {
      "main": [
        [
          {
            "node": "Registrar Incidencia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Int H": {
      "main": [
        [
          {
            "node": "Registrar Incidencia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Int M": {
      "main": [
        [
          {
            "node": "Registrar Incidencia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Int K": {
      "main": [
        [
          {
            "node": "Registrar Incidencia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Int S": {
      "main": [
        [
          {
            "node": "Registrar Incidencia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Incidencia1": {
      "main": [
        [
          {
            "node": "Log Estados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Estados1": {
      "main": [
        [
          {
            "node": "Loop: Processar 1 a 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call SubWf SNAPPY": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Call SubWf KULTUDENDA": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Call SubWf SERVICE CORP WORLD": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call SubWf HAMINOS": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config SNAPPY Centers": {
      "main": [
        [
          {
            "node": "Call SubWf SNAPPY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config KULTUDENDA Centers": {
      "main": [
        [
          {
            "node": "Call SubWf KULTUDENDA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config SERVICE CORP WORLD Centers": {
      "main": [
        [
          {
            "node": "Call SubWf SERVICE CORP WORLD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config HAMINOS Centers": {
      "main": [
        [
          {
            "node": "Call SubWf HAMINOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "timestamp": "2026-03-04T20:00:00.041+01:00",
        "Readable date": "March 4th 2026, 8:00:00 pm",
        "Readable time": "8:00:00 pm",
        "Day of week": "Wednesday",
        "Year": "2026",
        "Month": "March",
        "Day of month": "04",
        "Hour": "20",
        "Minute": "00",
        "Second": "00",
        "Timezone": "Europe/Madrid (UTC+01:00)"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c2aee663286167ca5973273ceb0c60aa2fcbae95195db0810f62f8c4797daff"
  }
}